Repository mozuq-lab/kotonoha: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, python

codecov.yml:

# Codecov configuration for kotonoha project
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        # Target coverage: 80% overall
        target: 80%
        threshold: 2%
        # Don't fail until we reach the target
        informational: false

      flutter:
        paths:
          - "frontend/**"
        target: 80%
        threshold: 2%
        informational: false

      python:
        paths:
          - "backend/**"
        # Python backend target: 90% (business logic & API endpoints)
        target: 90%
        threshold: 2%
        informational: false

    patch:
      default:
        # New code should be at least 80% covered
        target: 80%
        threshold: 5%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

flags:
  flutter:
    paths:
      - frontend/
    carryforward: true
    after_n_builds: 1

  python:
    paths:
      - backend/
    carryforward: true
    after_n_builds: 1

ignore:
  # Generated files
  - "frontend/kotonoha_app/lib/**/*.g.dart"
  - "frontend/kotonoha_app/lib/**/*.freezed.dart"
  - "frontend/kotonoha_app/lib/gen/**"
  # Test files (don't count test coverage of tests)
  - "frontend/kotonoha_app/test/**"
  - "frontend/kotonoha_app/integration_test/**"
  - "backend/tests/**"
  # Configuration files
  - "backend/alembic/**"
  - "infra/**"

chore: 開発依存をrequirements-dev.txtへ分離し本番イメージから除外 (改善対応)
  .github/workflows/python.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  backend/Dockerfile
  backend/requirements-dev.txt
  backend/requirements.txt
  docker/backend/Dockerfile
  docs/SETUP.md
Due: python

chore: 未使用依存とbuild_runnerの撤去 (改善対応)
  .github/workflows/flutter.yml
  .github/workflows/release.yml
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/SETUP.md
  docs/tech-stack.md
  frontend/kotonoha_app/README.md
  frontend/kotonoha_app/build.yaml
  frontend/kotonoha_app/pubspec.lock
  frontend/kotonoha_app/pubspec.yaml
Due: flutter

fix: copyWithのエラー引数パターンを統一 (改善対応)
  frontend/kotonoha_app/lib/features/favorite/providers/favorite_provider.dart
  frontend/kotonoha_app/lib/features/history/providers/history_provider.dart
  frontend/kotonoha_app/lib/features/preset_phrase/providers/preset_phrase_notifier.dart
  frontend/kotonoha_app/lib/features/tts/providers/tts_provider.dart
  frontend/kotonoha_app/test/shared/state_copy_with_error_test.dart
Due: flutter

fix: ヘルスチェックの二重実装を統合しDB依存の食い違いを解消 (改善対応)
  backend/app/api/v1/endpoints/health.py
  backend/app/db/session.py
  backend/app/main.py
  backend/tests/conftest.py
  backend/tests/test_api/test_health_endpoints.py
  backend/tests/test_api/test_integration.py
  docs/design/kotonoha/api-endpoints.md
Due: python

fix: 定型文エラー画面の固着とTTS初期化エラーの握り潰しを修正 (改善対応)
  frontend/kotonoha_app/lib/features/preset_phrase/providers/preset_phrase_notifier.dart
  frontend/kotonoha_app/lib/features/tts/domain/services/tts_service.dart
  frontend/kotonoha_app/test/features/preset_phrase/presentation/preset_phrase_screen_error_recovery_test.dart
  frontend/kotonoha_app/test/shared/state_copy_with_error_test.dart
Due: flutter

chore: architecture.mdのretrofit記載を削除 (改善対応)
  docs/design/kotonoha/architecture.md
Due: none

fix: 削除済み設定キーで既存.envが起動不能になる問題を解消 (改善対応)
  .github/workflows/python.yml
  CHANGELOG.md
  backend/app/core/config.py
  backend/tests/conftest.py
  backend/tests/core/test_config.py
  docs/SETUP.md
Due: python

fix: pre-commitのFlutterフックがworktreeで失敗する問題を修正 (改善対応)
  .pre-commit-config.yaml
Due: none

fix: 本番設定検査を起動時へ移しシークレット漏えいとCI失敗を解消 (改善対応)
  backend/app/core/config.py
  backend/app/main.py
  backend/tests/core/test_config.py
  docs/design/kotonoha/api-endpoints.md
Due: python

fix: 再レビュー指摘の反映（レート制限URIの秘匿・起動ガードの固定） (改善対応)
  backend/app/core/rate_limit.py
  backend/tests/core/test_config.py
  backend/tests/test_api/test_rate_limit.py
  backend/tests/test_main_startup.py
Due: python

fix: セッション例外伝播とエラーログの書き込み先を修正 (改善対応)
  backend/app/api/deps.py
  backend/app/core/exceptions.py
  backend/app/db/session.py
  backend/tests/conftest.py
  backend/tests/db/test_session.py
  backend/tests/test_error_handlers.py
Due: python

fix: 本番ゲートに API_KEYS を追加し TRUSTED_PROXY_COUNT を警告する (改善対応)
  README.md
  backend/app/core/config.py
  backend/tests/core/test_config.py
  docs/design/kotonoha/api-endpoints.md
Due: python

chore: 消費者が無くなった SECRET_KEY を廃止する (改善対応)
  .env.example
  .github/workflows/python.yml
  README.md
  backend/.env.example
  backend/app/core/config.py
  backend/tests/core/test_config.py
  backend/tests/test_main_startup.py
  backend/tests/test_security/test_env_variables.py
  docker-compose.yml
  docs/SETUP.md
  frontend/kotonoha_app/test/features/security/env_variables_test.dart
Due: python

fix: redact_storage_uri の資格情報漏えいと例外をフェイルクローズで解消 (改善対応)
  backend/app/core/rate_limit.py
  backend/tests/test_api/test_rate_limit.py
Due: python

fix: 例外連鎖による資格情報漏えいと削除済みキーの通知漏れを解消 (改善対応)
  .env.example
  CHANGELOG.md
  backend/app/core/config.py
  backend/app/core/rate_limit.py
  backend/tests/core/test_config.py
  backend/tests/test_api/test_rate_limit.py
  backend/tests/test_main_startup.py
Due: python

fix: レビュー指摘15件の一括対応（秘匿の堅牢化・ゲート範囲・セッション層） (改善対応)
  CHANGELOG.md
  backend/app/api/deps.py
  backend/app/core/config.py
  backend/app/core/rate_limit.py
  backend/app/db/session.py
  backend/tests/conftest.py
  backend/tests/core/test_config.py
  backend/tests/db/test_session.py
  backend/tests/test_api/test_rate_limit.py
  docs/SETUP.md
Due: python

fix: DB障害アラートの復活・秘匿のフェイルクローズ化ほか (改善対応)
  backend/alembic/env.py
  backend/app/api/v1/endpoints/health.py
  backend/app/core/config.py
  backend/app/core/rate_limit.py
  backend/app/db/session.py
  backend/tests/core/test_config.py
  backend/tests/test_api/test_health_endpoints.py
  backend/tests/test_api/test_rate_limit.py
Due: python

fix: 供給元判定の作り直し・本番ゲートの穴・秘匿の精度改善 (改善対応)
  CLAUDE.md
  README.md
  backend/.env.example
  backend/app/core/config.py
  backend/app/core/rate_limit.py
  backend/app/db/session.py
  backend/tests/core/test_config.py
  backend/tests/test_api/test_rate_limit.py
  docs/SETUP.md
  docs/design/kotonoha/api-endpoints.md
Due: python

docs: 秘匿対策の計画書を検証結果に合わせて更新
  docs/plans/2026-08-28-secret-leak-remediation.md
Due: none

docs: 秘匿対策計画に独立レビュー2系統の指摘を反映 (改善対応)
  docs/plans/2026-08-28-secret-leak-remediation.md
Due: none

fix: 常設緊急ボタンが文字盤を覆う問題と向き・キーボード対応 (改善対応)
  frontend/kotonoha_app/lib/core/constants/app_sizes.dart
  frontend/kotonoha_app/lib/core/widgets/app_shell.dart
  frontend/kotonoha_app/test/features/emergency/emergency_button_overlap_test.dart
Due: flutter

fix: コントラスト比を WCAG 2.1 AA 準拠に是正 (改善対応)
  frontend/kotonoha_app/lib/core/constants/app_colors.dart
  frontend/kotonoha_app/lib/core/themes/dark_theme.dart
  frontend/kotonoha_app/lib/core/themes/high_contrast_theme.dart
  frontend/kotonoha_app/lib/core/themes/light_theme.dart
  frontend/kotonoha_app/lib/core/themes/theme_colors.dart
  frontend/kotonoha_app/lib/core/utils/contrast.dart
  frontend/kotonoha_app/lib/core/widgets/error_dialog.dart
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_result_dialog.dart
  frontend/kotonoha_app/lib/features/emergency/presentation/screens/emergency_alert_screen.dart
  frontend/kotonoha_app/lib/features/emergency/presentation/widgets/emergency_button_with_confirmation.dart
  frontend/kotonoha_app/lib/features/emergency/presentation/widgets/emergency_confirmation_dialog.dart
  frontend/kotonoha_app/lib/features/network/presentation/widgets/network_aware_scaffold.dart
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/widgets/phrase_delete_dialog.dart
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/widgets/phrase_form_content.dart
  frontend/kotonoha_app/lib/features/status_buttons/domain/status_button_constants.dart
  frontend/kotonoha_app/lib/features/status_buttons/presentation/widgets/status_button.dart
  frontend/kotonoha_app/lib/features/tts/presentation/widgets/tts_button.dart
  frontend/kotonoha_app/test/accessibility/ai_conversion_result_dialog_contrast_test.dart
  frontend/kotonoha_app/test/accessibility/button_foreground_contrast_test.dart
  frontend/kotonoha_app/test/accessibility/emergency_contrast_test.dart
  frontend/kotonoha_app/test/accessibility/offline_dialog_contrast_test.dart
  frontend/kotonoha_app/test/accessibility/preset_phrase_contrast_test.dart
  frontend/kotonoha_app/test/accessibility/status_button_contrast_test.dart
  frontend/kotonoha_app/test/accessibility/theme_error_color_contrast_test.dart
  frontend/kotonoha_app/test/core/utils/contrast_test.dart
  frontend/kotonoha_app/test/features/emergency/presentation/widgets/emergency_button_with_confirmation_test.dart
  frontend/kotonoha_app/test/features/preset_phrase/presentation/widgets/phrase_add_dialog_test.dart
Due: flutter

fix: 色以外の識別手段を追加し即答ボタンの前景を統一 (改善対応)
  frontend/kotonoha_app/lib/core/constants/app_colors.dart
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_result_dialog.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/clear_all_button.dart
  frontend/kotonoha_app/lib/features/emergency/presentation/widgets/emergency_button_with_confirmation.dart
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/widgets/phrase_delete_dialog.dart
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/widgets/phrase_form_content.dart
  frontend/kotonoha_app/lib/features/quick_response/presentation/widgets/quick_response_button.dart
  frontend/kotonoha_app/test/accessibility/ai_conversion_result_dialog_contrast_test.dart
  frontend/kotonoha_app/test/accessibility/quick_response_button_contrast_test.dart
  frontend/kotonoha_app/test/accessibility/theme_error_color_contrast_test.dart
  frontend/kotonoha_app/test/support/contrast_helpers.dart
Due: flutter

docs: ドキュメントの記述を実装に一致させる (改善対応)
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  backend/.env.example
  docs/SETUP.md
  docs/design/kotonoha/architecture.md
  docs/design/kotonoha/database-erd.md
  docs/design/kotonoha/database-schema.sql
  docs/privacy-policy.md
  docs/support.md
  docs/tasks/kotonoha-overview.md
  docs/tasks/kotonoha-phase1.md
  docs/tasks/kotonoha-phase2.md
  docs/tasks/kotonoha-phase3.md
  docs/tasks/kotonoha-phase4.md
  docs/tasks/kotonoha-phase5.md
  docs/tech-stack.md
  frontend/kotonoha_app/README.md
Due: flutter, python

docs: 秘匿対策計画をアーキテクチャ是正計画に差し替える (改善対応)
  AGENTS.md
  CLAUDE.md
  README.md
  docs/archive/README.md
  docs/archive/tasks/kotonoha-overview.md
  docs/archive/tasks/kotonoha-phase1.md
  docs/archive/tasks/kotonoha-phase2.md
  docs/archive/tasks/kotonoha-phase3.md
  docs/archive/tasks/kotonoha-phase4.md
  docs/archive/tasks/kotonoha-phase5.md
  docs/plans/2026-08-28-secret-leak-remediation.md
  docs/plans/2026-08-29-architecture-remediation.md
  docs/verification-principles.md
  frontend/kotonoha_app/integration_test/device_test/README.md
Due: none

docs: 不要ファイルを削除
  docs/articles/why-redaction-fixes-dont-converge.md
Due: none

docs: 決定を守らせる仕組みを計画に組み込む (改善対応)
  docs/plans/2026-08-29-architecture-remediation.md
Due: none

chore: OpenSpecを導入
  .claude/commands/opsx/apply.md
  .claude/commands/opsx/archive.md
  .claude/commands/opsx/explore.md
  .claude/commands/opsx/propose.md
  .claude/commands/opsx/sync.md
  .claude/commands/opsx/update.md
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-propose/SKILL.md
  .claude/skills/openspec-sync-specs/SKILL.md
  .claude/skills/openspec-update-change/SKILL.md
  docs/plans/2026-08-29-architecture-remediation.md
  openspec/config.yaml
Due: none

docs: 実装フェーズで使う道具と、不足分の作成計画を追加 (改善対応)
  docs/plans/2026-08-29-architecture-remediation.md
Due: none

docs: 目的と道具の対応表を CLAUDE.md / AGENTS.md に置く (改善対応)
  .gitignore
  AGENTS.md
  CLAUDE.md
  docs/plans/2026-08-29-architecture-remediation.md
Due: none

docs: エージェント向けガイドを AGENTS.md に集約する (改善対応)
  AGENTS.md
  CLAUDE.md
  README.md
  docs/tech-stack.md
Due: none

docs: 守りの仕組み自体の陳腐化を棚卸し項目に加える (改善対応)
  AGENTS.md
  docs/plans/2026-08-29-architecture-remediation.md
Due: none

docs: OpenSpec の運用・レビューの層・テスト2系統・E2E方針を定義する (改善対応)
  AGENTS.md
  docs/plans/2026-08-29-architecture-remediation.md
  docs/verification-principles.md
Due: none

docs: リスクテストの出発点を3つの源に拡張する (改善対応)
  AGENTS.md
  docs/plans/2026-08-29-architecture-remediation.md
  docs/verification-principles.md
Due: none

docs: 削除済みの経緯記事を復元する (レビュー対応)
  docs/articles/why-redaction-fixes-dont-converge.md
Due: none

docs: 是正計画レビューの指摘を反映する (レビュー対応)
  AGENTS.md
  docs/plans/2026-08-29-architecture-remediation.md
Due: none

docs: Codex レビューの検証済み指摘を反映する (レビュー対応)
  .gitignore
  AGENTS.md
  docs/plans/2026-08-29-architecture-remediation.md
  docs/verification-principles.md
Due: none

docs: 入力バッファの切り分け結果を記録する（実ブラウザで埋まる） (Phase 0)
  docs/plans/2026-08-29-architecture-remediation.md
Due: none

docs: ADR-001〜006 を起草する (Phase 0)
  docs/adr/ADR-001-backend-stateless.md
  docs/adr/ADR-002-rate-limit-single-instance.md
  docs/adr/ADR-003-errors-are-typed.md
  docs/adr/ADR-004-config-immutable.md
  docs/adr/ADR-005-frontend-single-truth.md
  docs/adr/ADR-006-layer-dependency-enforced.md
Due: none
