Repository mozuq-lab/kotonoha: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, python

codecov.yml:

# Codecov configuration for kotonoha project
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        # Target coverage: 80% overall
        target: 80%
        threshold: 2%
        # Don't fail until we reach the target
        informational: false

      flutter:
        paths:
          - "frontend/**"
        target: 80%
        threshold: 2%
        informational: false

      python:
        paths:
          - "backend/**"
        # Python backend target: 90% (business logic & API endpoints)
        target: 90%
        threshold: 2%
        informational: false

    patch:
      default:
        # New code should be at least 80% covered
        target: 80%
        threshold: 5%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

flags:
  flutter:
    paths:
      - frontend/
    carryforward: true
    after_n_builds: 1

  python:
    paths:
      - backend/
    carryforward: true
    after_n_builds: 1

ignore:
  # Generated files
  - "frontend/kotonoha_app/lib/**/*.g.dart"
  - "frontend/kotonoha_app/lib/**/*.freezed.dart"
  - "frontend/kotonoha_app/lib/gen/**"
  # Test files (don't count test coverage of tests)
  - "frontend/kotonoha_app/test/**"
  - "frontend/kotonoha_app/integration_test/**"
  - "backend/tests/**"
  # Configuration files
  - "backend/alembic/**"
  - "infra/**"

fix: 読み上げ中をすぐ画面へ知らせ、開始を聞いていれば遅い呼び出しを失敗にせず、破棄の後は状態に触らない
  frontend/kotonoha_app/lib/features/history/providers/history_provider.dart
  frontend/kotonoha_app/lib/features/tts/domain/services/tts_service.dart
  frontend/kotonoha_app/lib/features/tts/providers/tts_provider.dart
  frontend/kotonoha_app/test/features/tts/domain/services/tts_service_unresponsive_test.dart
  frontend/kotonoha_app/test/shared/providers/dispose_during_pending_write_test.dart
Due: flutter

fix: 音量の問い合わせを待つ間に破棄されたら、音量の警告の状態に触らない
  frontend/kotonoha_app/lib/features/tts/providers/volume_warning_provider.dart
  frontend/kotonoha_app/test/features/tts/providers/volume_warning_provider_test.dart
Due: flutter

fix: 読み上げエンジンが応答しないとき、黙ったまま固まらずにエラーにし、どの画面でも告げる
  frontend/kotonoha_app/lib/core/widgets/app_shell.dart
  frontend/kotonoha_app/lib/features/tts/domain/services/tts_service.dart
  frontend/kotonoha_app/lib/features/tts/presentation/widgets/tts_failure_banner.dart
  frontend/kotonoha_app/test/core/widgets/app_shell_tts_failure_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_simple_mode_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_wiring_test.dart
  frontend/kotonoha_app/test/features/tts/domain/services/tts_service_unresponsive_test.dart
  frontend/kotonoha_app/test/mocks/mock_flutter_tts.dart
Due: flutter

test: 読み上げを始める操作の後に必ず 1 回描き直す
  frontend/kotonoha_app/integration_test/helpers/test_helpers.dart
Due: none

fix: 読み上げの失敗を誤って告げない（止めた・割り込まれた・遅れて始まった読み上げ）、起動時から応答しないときと破棄後も固まらせない
  frontend/kotonoha_app/lib/features/tts/domain/services/tts_service.dart
  frontend/kotonoha_app/test/features/tts/domain/services/tts_service_unresponsive_test.dart
Due: flutter

test: 音が出ずタイミングもあてにならない Web では、読み上げ中の停止と連打のデバウンスのテストを走らせない
  frontend/kotonoha_app/integration_test/character_input_tts_test.dart
  frontend/kotonoha_app/integration_test/large_emergency_buttons_test.dart
Due: none

test: 結合テストの読み上げの確かめ方を「読み上げ中を通ったか」にし、緊急音の間は時間を区切って待ち、電話の画面では文字盤と状態ボタンをずらして出す
  frontend/kotonoha_app/integration_test/character_input_tts_test.dart
  frontend/kotonoha_app/integration_test/helpers/test_helpers.dart
  frontend/kotonoha_app/integration_test/large_emergency_buttons_test.dart
Due: none

docs: 「形」を満たしたので現在地を進め、次の最短経路の候補（リリースの条件）を置く
  docs/now.md
Due: none

fix: ホームの操作ボタンを1行に整えて状態ボタンを全部見せ、丁寧さの選択はAI変換の結果画面へ移す
  frontend/kotonoha_app/integration_test/helpers/test_helpers.dart
  frontend/kotonoha_app/lib/core/constants/app_sizes.dart
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_button.dart
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_result_dialog.dart
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/politeness_level_selector.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/clear_all_button.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/delete_button.dart
  frontend/kotonoha_app/lib/features/input_candidates/domain/input_candidate_scorer.dart
  frontend/kotonoha_app/lib/features/input_candidates/domain/models/input_candidate.dart
  frontend/kotonoha_app/lib/features/input_candidates/presentation/widgets/input_candidate_chips.dart
  frontend/kotonoha_app/lib/features/input_candidates/providers/input_candidates_provider.dart
  frontend/kotonoha_app/lib/features/tts/presentation/widgets/tts_button.dart
  frontend/kotonoha_app/test/accessibility/ai_conversion_result_dialog_contrast_test.dart
  frontend/kotonoha_app/test/features/ai_conversion/presentation/widgets/ai_conversion_button_test.dart
  frontend/kotonoha_app/test/features/ai_conversion/presentation/widgets/ai_conversion_result_dialog_shell_route_test.dart
  frontend/kotonoha_app/test/features/ai_conversion/presentation/widgets/ai_conversion_result_dialog_test.dart
  frontend/kotonoha_app/test/features/ai_conversion/presentation/widgets/politeness_level_selector_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_controls_layout_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_input_candidates_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_low_screen_notices_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_overflow_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_responsive_test.dart
  frontend/kotonoha_app/test/features/input_candidates/domain/input_candidate_scorer_test.dart
  frontend/kotonoha_app/test/features/input_candidates/presentation/widgets/input_candidate_chips_test.dart
  frontend/kotonoha_app/test/features/input_candidates/providers/input_candidates_provider_test.dart
Due: flutter

fix: 文字種の切り替えを横スクロールでなく等幅の1行に並べ、狭い画面でもラベルが切れないようにする
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/character_board_widget.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_controls_layout_test.dart
Due: flutter

fix: iOSの消音モードでも読み上げを維持する
  docs/user-guide/faq.md
  docs/user-guide/troubleshooting.md
  frontend/kotonoha_app/android/app/proguard-rules.pro
  frontend/kotonoha_app/ios/Runner/Info.plist
  frontend/kotonoha_app/lib/features/tts/domain/services/tts_service.dart
  frontend/kotonoha_app/lib/features/tts/presentation/widgets/tts_failure_banner.dart
  frontend/kotonoha_app/lib/features/tts/providers/tts_provider.dart
  frontend/kotonoha_app/test/core/widgets/app_shell_tts_failure_test.dart
  frontend/kotonoha_app/test/features/tts/domain/services/tts_service_test.dart
  frontend/kotonoha_app/test/features/tts/domain/services/tts_service_unresponsive_test.dart
  frontend/kotonoha_app/test/features/tts/providers/tts_provider_test.dart
Due: flutter

docs: 実機テスト手順を現行の機能に合わせる
  frontend/kotonoha_app/integration_test/device_test/README.md
Due: none

feat: ことのはの吹き出しアイコンを用意する
  frontend/kotonoha_app/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  frontend/kotonoha_app/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  frontend/kotonoha_app/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  frontend/kotonoha_app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  frontend/kotonoha_app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  frontend/kotonoha_app/assets/images/kotonoha_icon.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  frontend/kotonoha_app/pubspec.yaml
  frontend/kotonoha_app/tool/generate_app_icon.swift
Due: flutter

feat: 初期お気に入りと色を安全に保存する
  frontend/kotonoha_app/lib/core/persistence/persisted_box.dart
  frontend/kotonoha_app/lib/core/persistence/write_failure_provider.dart
  frontend/kotonoha_app/lib/features/favorite/data/favorite_repository.dart
  frontend/kotonoha_app/lib/features/favorite/domain/models/favorite.dart
  frontend/kotonoha_app/lib/features/favorite/providers/favorite_provider.dart
  frontend/kotonoha_app/lib/main.dart
  frontend/kotonoha_app/lib/shared/models/favorite_item.dart
  frontend/kotonoha_app/lib/shared/models/favorite_item_adapter.dart
  frontend/kotonoha_app/test/core/persistence/hive_schema_allowlist_test.dart
  frontend/kotonoha_app/test/features/security/data_deletion_test.dart
Due: flutter

feat: お気に入りのボタン色を選べるようにする
  frontend/kotonoha_app/lib/features/favorite/presentation/constants/favorite_colors.dart
  frontend/kotonoha_app/lib/features/favorite/presentation/favorites_screen.dart
  frontend/kotonoha_app/lib/features/favorite/presentation/widgets/favorite_item_card.dart
  frontend/kotonoha_app/lib/features/favorite/presentation/widgets/favorite_shortcut_button.dart
  frontend/kotonoha_app/lib/shared/widgets/send_to_input_button.dart
Due: flutter

feat: 入力欄をOSキーボードと文字盤で共有する
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/home_input_field.dart
  frontend/kotonoha_app/lib/features/character_board/providers/input_buffer_provider.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_input_field_test.dart
Due: flutter

feat: ホームとシンプルモードをお気に入りに接続する
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/simple_mode/presentation/simple_mode_view.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_controls_layout_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_responsive_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_wiring_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/input_limit_notice_test.dart
  frontend/kotonoha_app/test/features/simple_mode/presentation/simple_mode_view_test.dart
  frontend/kotonoha_app/test/integration/face_to_face_navigation_test.dart
Due: flutter

test: お気に入り保存の競合と失敗を実boxで確かめる
  frontend/kotonoha_app/test/features/favorite/favorite_defaults_test.dart
Due: none

docs: キーボード入力とお気に入りの新仕様を反映する
  docs/now.md
  docs/privacy-policy.md
  docs/spec/kotonoha-requirements.md
  frontend/kotonoha_app/integration_test/app_startup_test.dart
  frontend/kotonoha_app/integration_test/character_input_tts_test.dart
  frontend/kotonoha_app/integration_test/helpers/test_helpers.dart
  frontend/kotonoha_app/integration_test/large_buttons_test.dart
  frontend/kotonoha_app/integration_test/mvp_scenario_test.dart
  frontend/kotonoha_app/lib/features/help/presentation/screens/help_screen.dart
Due: flutter

docs: iPadのMVP結合テスト通過を記録する
  docs/now.md
Due: none

feat: 葉のアイコンを採用して広い画面にも表示する
  frontend/kotonoha_app/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  frontend/kotonoha_app/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  frontend/kotonoha_app/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  frontend/kotonoha_app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  frontend/kotonoha_app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  frontend/kotonoha_app/assets/images/kotonoha_icon.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  frontend/kotonoha_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_responsive_test.dart
  frontend/kotonoha_app/tool/generate_app_icon.swift
  frontend/kotonoha_app/web/favicon.png
  frontend/kotonoha_app/web/icons/Icon-192.png
  frontend/kotonoha_app/web/icons/Icon-512.png
  frontend/kotonoha_app/web/icons/Icon-maskable-192.png
  frontend/kotonoha_app/web/icons/Icon-maskable-512.png
Due: flutter

fix: AndroidのOSアイコンをAdaptive Iconで表示する
  frontend/kotonoha_app/android/app/src/main/res/drawable/ic_launcher_background.xml
  frontend/kotonoha_app/android/app/src/main/res/drawable/ic_launcher_foreground.xml
  frontend/kotonoha_app/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  frontend/kotonoha_app/tool/generate_app_icon.swift
Due: flutter

fix: お気に入りの保存結果通知と表示順を修正する
  docs/now.md
  docs/spec/kotonoha-requirements.md
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/favorite/presentation/constants/favorite_ui_constants.dart
  frontend/kotonoha_app/lib/features/favorite/presentation/favorites_screen.dart
  frontend/kotonoha_app/lib/features/favorite/presentation/widgets/favorite_shortcut_button.dart
  frontend/kotonoha_app/lib/features/favorite/providers/favorite_provider.dart
  frontend/kotonoha_app/lib/features/history/presentation/history_screen.dart
  frontend/kotonoha_app/lib/features/simple_mode/domain/simple_mode_constants.dart
  frontend/kotonoha_app/test/features/favorite/favorite_defaults_test.dart
  frontend/kotonoha_app/test/features/favorite/favorite_round_trip_test.dart
  frontend/kotonoha_app/test/features/favorite/presentation/widgets/favorite_shortcut_button_test.dart
  frontend/kotonoha_app/test/features/history/presentation/history_screen_favorite_test.dart
  frontend/kotonoha_app/test/features/simple_mode/presentation/simple_mode_view_test.dart
Due: flutter

fix: 初回リリースではAI変換ボタンを非表示にする
  README.md
  frontend/kotonoha_app/integration_test/ai_conversion_e2e_test.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_layout_test_support.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_controls_layout_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_overflow_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_wiring_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/input_limit_notice_test.dart
  frontend/kotonoha_app/test/shared/widgets/confirmation_dialog_test.dart
Due: flutter

fix: 初期お気に入りの痛いを末尾へ移す
  docs/now.md
  docs/spec/kotonoha-requirements.md
  frontend/kotonoha_app/integration_test/mvp_scenario_test.dart
  frontend/kotonoha_app/lib/features/favorite/data/favorite_repository.dart
  frontend/kotonoha_app/test/features/favorite/favorite_defaults_test.dart
Due: flutter

docs: 使われていないルートの .env.example を消し、README の起動手順を直接指定にする
  .env.example
  README.md
Due: none

feat: 参考画像に合わせてホーム画面を整える
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_button.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/home_theme.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/clear_all_button.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/delete_button.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/home_input_field.dart
  frontend/kotonoha_app/lib/features/favorite/presentation/widgets/favorite_shortcut_button.dart
  frontend/kotonoha_app/lib/features/quick_response/presentation/widgets/quick_response_button.dart
  frontend/kotonoha_app/lib/features/quick_response/presentation/widgets/quick_response_buttons.dart
  frontend/kotonoha_app/lib/features/tts/presentation/widgets/tts_button.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_controls_layout_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_reference_ui_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_wiring_test.dart
  frontend/kotonoha_app/test/shared/widgets/confirmation_dialog_test.dart
Due: flutter

fix: 文字種の選択状態を見分けやすくする
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/character_board_widget.dart
Due: flutter

fix: ホームの操作アイコンを線画で統一する
  frontend/kotonoha_app/integration_test/character_input_tts_test.dart
  frontend/kotonoha_app/integration_test/device_test/device_basic_test.dart
  frontend/kotonoha_app/integration_test/device_test/tablet_layout_test.dart
  frontend/kotonoha_app/integration_test/device_test/tts_device_test.dart
  frontend/kotonoha_app/integration_test/preset_phrase_test.dart
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_button.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/clear_all_button.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/delete_button.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/home_input_field.dart
  frontend/kotonoha_app/lib/features/quick_response/presentation/widgets/quick_response_button.dart
  frontend/kotonoha_app/lib/features/tts/presentation/widgets/tts_button.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_wiring_test.dart
  frontend/kotonoha_app/test/integration/face_to_face_navigation_test.dart
  frontend/kotonoha_app/test/shared/widgets/confirmation_dialog_desktop_tap_target_test.dart
  frontend/kotonoha_app/test/shared/widgets/confirmation_dialog_test.dart
Due: flutter

fix: OpenAIの呼び出しをgpt-6-lunaなどの推論モデルに合わせる
  backend/.env.example
  backend/app/ai/providers.py
  backend/app/config.py
  backend/tests/ai/test_providers.py
  backend/tests/test_startup.py
Due: python

feat: AI変換のレート制限を60秒に12回にする
  backend/.env.example
  backend/app/config.py
  backend/tests/test_config.py
  docs/adr/ADR-002-rate-limit-single-instance.md
Due: python

feat: AI変換の送り先をOpenAI（米国）と明示し既定の送り先を揃える
  backend/.env.example
  backend/app/config.py
  backend/tests/test_config.py
  docs/privacy-policy.md
  docs/user-guide/faq.md
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/test/shared/widgets/confirmation_dialog_test.dart
Due: flutter, python

docs: 初回リリースにAI変換を含める方針を現在地と台帳に反映する
  docs/ledger.md
  docs/now.md
Due: none

feat: ホームの配色を全画面の共通テーマにする
  frontend/kotonoha_app/lib/core/constants/app_colors.dart
  frontend/kotonoha_app/lib/core/themes/app_visual_theme.dart
  frontend/kotonoha_app/lib/core/themes/dark_theme.dart
  frontend/kotonoha_app/lib/core/themes/high_contrast_theme.dart
  frontend/kotonoha_app/lib/core/themes/light_theme.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/home_theme.dart
  frontend/kotonoha_app/lib/features/favorite/presentation/constants/favorite_colors.dart
  frontend/kotonoha_app/lib/features/favorite/presentation/widgets/favorite_shortcut_button.dart
  frontend/kotonoha_app/test/core/themes/dark_theme_test.dart
  frontend/kotonoha_app/test/core/themes/light_theme_test.dart
Due: flutter

fix: シンプルモードの応答ボタンもホームに揃える
  frontend/kotonoha_app/lib/features/simple_mode/presentation/simple_mode_view.dart
Due: flutter

fix: MVP結合テストを新しいホームUIに合わせる
  frontend/kotonoha_app/integration_test/mvp_scenario_test.dart
Due: none

fix: AI変換の指示文に、意味・否定・話し手の視点を変えない決まりを入れる
  backend/app/ai/prompts.py
  backend/tests/ai/test_prompts.py
Due: python

feat: AI変換の送り先をCloudflare Workers AIのGemma 4にする
  backend/.env.example
  backend/app/ai/prompts.py
  backend/app/ai/providers.py
  backend/app/config.py
  backend/app/schemas.py
  backend/tests/ai/test_prompts.py
  backend/tests/ai/test_providers.py
  backend/tests/contract/test_health_docs.py
  backend/tests/test_config.py
  backend/tests/test_routes.py
Due: python
