Repository mozuq-lab/kotonoha: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, python

feat: AI変換の同意と公開文の送り先をCloudflare（米国）にする
  docs/privacy-policy.md
  docs/user-guide/faq.md
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/test/shared/widgets/confirmation_dialog_test.dart
Due: flutter

docs: 公開先をCloudflare Containers、LLMをWorkers AIに決めたことを反映する
  AGENTS.md
  docs/adr/ADR-002-rate-limit-single-instance.md
  docs/now.md
Due: none

fix: AI Gatewayに文章を記録させず、本番はゲートウェイ必須にし、途中で切れた応答を見せない
  backend/app/ai/providers.py
  backend/app/config.py
  backend/tests/ai/test_providers.py
  backend/tests/test_config.py
  docs/user-guide/faq.md
Due: python

fix: 起動テストが開発者の.envを読まないようにし、既定の送り先でも初期化失敗を確かめる
  backend/tests/test_sinks.py
  backend/tests/test_startup.py
Due: none

chore: テストに残る要件IDの注釈を消し、台帳のL-68を閉じる
  docs/ledger.md
  frontend/kotonoha_app/integration_test/character_input_tts_test.dart
  frontend/kotonoha_app/integration_test/device_test/README.md
  frontend/kotonoha_app/integration_test/large_buttons_test.dart
  frontend/kotonoha_app/test/core/persistence/persistence_failure_notification_test.dart
  frontend/kotonoha_app/test/core/persistence/write_failure_notification_test.dart
  frontend/kotonoha_app/test/core/router/error_screen_test.dart
  frontend/kotonoha_app/test/core/themes/theme_provider_button_label_test.dart
  frontend/kotonoha_app/test/core/themes/theme_provider_font_size_test.dart
  frontend/kotonoha_app/test/core/widgets/app_shell_tutorial_and_offline_test.dart
  frontend/kotonoha_app/test/core/widgets/persistence_banner_test.dart
  frontend/kotonoha_app/test/features/app_state/providers/app_session_write_failure_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_wiring_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/widgets/input_limit_notice_test.dart
  frontend/kotonoha_app/test/features/character_board/providers/input_buffer_provider_test.dart
  frontend/kotonoha_app/test/features/favorite/presentation/favorites_screen_test.dart
  frontend/kotonoha_app/test/features/help/presentation/screens/help_screen_test.dart
  frontend/kotonoha_app/test/features/preset_phrase/data/default_phrases_test.dart
  frontend/kotonoha_app/test/features/preset_phrase/presentation/preset_phrase_screen_favorite_test.dart
  frontend/kotonoha_app/test/features/preset_phrase/presentation/widgets/phrase_list_item_test.dart
  frontend/kotonoha_app/test/features/preset_phrase/presentation/widgets/phrase_list_widget_test.dart
  frontend/kotonoha_app/test/features/preset_phrase/preset_phrase_round_trip_test.dart
  frontend/kotonoha_app/test/features/quick_response/presentation/widgets/quick_response_button_test.dart
  frontend/kotonoha_app/test/features/quick_response/presentation/widgets/quick_response_buttons_test.dart
  frontend/kotonoha_app/test/features/security/data_deletion_test.dart
  frontend/kotonoha_app/test/features/security/env_variables_test.dart
  frontend/kotonoha_app/test/features/security/https_test.dart
  frontend/kotonoha_app/test/features/security/local_storage_test.dart
  frontend/kotonoha_app/test/features/security/privacy_consent_test.dart
  frontend/kotonoha_app/test/features/settings/integration/font_size_application_test.dart
  frontend/kotonoha_app/test/features/settings/providers/settings_write_failure_test.dart
  frontend/kotonoha_app/test/features/status_buttons/presentation/widgets/status_button_test.dart
  frontend/kotonoha_app/test/features/status_buttons/presentation/widgets/status_buttons_test.dart
  frontend/kotonoha_app/test/integration/navigation_test.dart
  frontend/kotonoha_app/test/shared/widgets/confirmation_dialog_contract.dart
  frontend/kotonoha_app/test/shared/widgets/confirmation_dialog_desktop_tap_target_test.dart
  frontend/kotonoha_app/test/widgets/character_board_optimization_test.dart
Due: none

fix: 定型文の保存待ちに上限を置き、書込が返らなくても入力を残して操作を返す
  docs/ledger.md
  docs/now.md
  frontend/kotonoha_app/lib/features/preset_phrase/domain/phrase_constants.dart
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/widgets/phrase_add_dialog.dart
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/widgets/phrase_edit_dialog.dart
  frontend/kotonoha_app/test/features/preset_phrase/presentation/widgets/phrase_add_dialog_test.dart
  frontend/kotonoha_app/test/features/preset_phrase/presentation/widgets/phrase_edit_dialog_test.dart
Due: flutter

docs: ADR-007を改訂し、初回リリースにAI変換を含めて条件5を足す
  AGENTS.md
  docs/adr/ADR-007-release-criteria.md
  docs/adr/ADR-009-crash-reporting-store-native.md
Due: none

feat: AI変換ボタンを標準のビルドで表示する
  README.md
  docs/now.md
  frontend/kotonoha_app/integration_test/ai_conversion_e2e_test.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_wiring_test.dart
  frontend/kotonoha_app/test/shared/widgets/confirmation_dialog_test.dart
Due: flutter

ci: リリースの署名鍵をランナーの一時ディレクトリに置き、必ず消す
  .github/workflows/release.yml
  docs/ledger.md
  frontend/kotonoha_app/android/app/build.gradle.kts
Due: flutter

docs: ストア掲載文を点検し、今のアプリと送り先に合わせる
  docs/ledger.md
  docs/now.md
  frontend/kotonoha_app/fastlane/metadata/en-US/description.txt
  frontend/kotonoha_app/fastlane/metadata/en-US/release_notes.txt
  frontend/kotonoha_app/fastlane/metadata/ja-JP/description.txt
  frontend/kotonoha_app/fastlane/metadata/ja-JP/release_notes.txt
  frontend/kotonoha_app/fastlane/metadata/review_information/notes.txt
Due: flutter

feat: backendをCloudflare Containersで動かすデプロイ設定と手順を足す
  README.md
  deploy/cloudflare/.gitignore
  deploy/cloudflare/package-lock.json
  deploy/cloudflare/package.json
  deploy/cloudflare/src/index.ts
  deploy/cloudflare/tsconfig.json
  deploy/cloudflare/wrangler.jsonc
Due: none

fix: AI変換の上限到達を「待てば直る」とだけ告げず、元の文で伝える道を示す
  backend/app/errors.py
  backend/tests/contract/test_ai.py
  docs/now.md
Due: python

chore: ストア用のスクリーンショットを撮る結合テストを足し、iPhone・iPad・Androidの画像を置く
  docs/ledger.md
  docs/now.md
  docs/store-assets-guide.md
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/android_phone/01_home.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/android_phone/02_face_to_face.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/android_phone/03_preset_phrases.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/android_phone/04_history.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/android_phone/05_favorites.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/android_phone/06_settings.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/ipad_13in/01_home.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/ipad_13in/02_face_to_face.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/ipad_13in/03_preset_phrases.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/ipad_13in/04_history.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/ipad_13in/05_favorites.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/ipad_13in/06_settings.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/iphone_6_9in/01_home.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/iphone_6_9in/02_face_to_face.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/iphone_6_9in/03_preset_phrases.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/iphone_6_9in/04_history.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/iphone_6_9in/05_favorites.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/iphone_6_9in/06_settings.png
  frontend/kotonoha_app/integration_test/store/store_screenshots_test.dart
  frontend/kotonoha_app/test_driver/screenshot_driver.dart
Due: flutter

fix: 電話の幅でテーマの「高コントラスト」が語の途中で折り返さないようにする
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/android_phone/04_history.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/android_phone/05_favorites.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/android_phone/06_settings.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/ipad_13in/04_history.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/ipad_13in/05_favorites.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/ipad_13in/06_settings.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/iphone_6_9in/04_history.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/iphone_6_9in/05_favorites.png
  frontend/kotonoha_app/fastlane/screenshots/ja-JP/iphone_6_9in/06_settings.png
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/theme_settings_widget.dart
  frontend/kotonoha_app/test/features/settings/presentation/widgets/theme_settings_widget_test.dart
Due: flutter

fix: iPadの横向きで入力欄を押すとキーボードがすぐ閉じるのを直す（キーボードの出し入れで配置を切り替えない）
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_keyboard_test.dart
Due: flutter

fix: キーボードで消える下の安全領域の分を差し引いて、配置の判定がずれないようにする
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_keyboard_test.dart
Due: flutter

fix: 読み上げの速さをflutter_ttsの尺度に直して渡し、iOSとAndroidで「普通」が速すぎるのを直す
  frontend/kotonoha_app/lib/features/tts/domain/services/tts_service.dart
  frontend/kotonoha_app/test/features/settings/providers/settings_provider_tts_speed_test.dart
  frontend/kotonoha_app/test/features/tts/domain/services/tts_service_optimization_test.dart
  frontend/kotonoha_app/test/features/tts/domain/services/tts_service_speech_rate_test.dart
  frontend/kotonoha_app/test/features/tts/domain/services/tts_service_test.dart
  frontend/kotonoha_app/test/features/tts/providers/tts_provider_test.dart
  frontend/kotonoha_app/test/integration/tts_speed_integration_test.dart
Due: flutter

docs: 読み上げの速さのコメント・テスト・FAQを実装に合わせる（倍率と flutter_tts の尺度を分けて書く、4段階）
  docs/user-guide/faq.md
  frontend/kotonoha_app/lib/features/tts/domain/models/tts_speed.dart
  frontend/kotonoha_app/test/features/tts/domain/models/tts_speed_test.dart
  frontend/kotonoha_app/test/features/tts/domain/services/tts_service_speech_rate_test.dart
  frontend/kotonoha_app/test/integration/tts_speed_integration_test.dart
Due: flutter

fix: 電話を横にしてキーボードを出すと文字盤がはみ出すのを直す（低すぎるときは文字盤ごとスクロール）
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/character_board_widget.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_phone_landscape_keyboard_test.dart
Due: flutter

fix: 電話を縦にしてキーボードで打つ間は操作域に高さを回し、読み上げボタンを見せる
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_phone_landscape_keyboard_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_phone_portrait_keyboard_test.dart
Due: flutter

fix: 下端へ送り直すのをやめ、打つ間は下端基準でスクロールして利用者の操作と入力欄の動きを妨げない
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_phone_portrait_keyboard_test.dart
Due: flutter

fix: iPhoneの横向きで、お気に入りの名前がはみ出すのと、入力欄のラベルと文字が重なるのを直す
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/home_input_field.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_iphone_landscape_labels_test.dart
Due: flutter

fix: 入力欄の最大行数を2以上にして改行が黙って消えないようにし、お気に入りの列数の判定を実際の文字に合わせる
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/home_input_field.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_iphone_landscape_labels_test.dart
Due: flutter

fix: 文字盤の列数を5か10にして、横向きで五十音の行がずれないようにする
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/character_board_widget.dart
  frontend/kotonoha_app/test/features/character_board/presentation/widgets/character_board_columns_test.dart
Due: flutter

chore: Workers AIの設定名をWORKERS_AI_…に変え、wranglerが認証に読むCF_…と重ならないようにする
  README.md
  backend/.env.example
  backend/app/ai/providers.py
  backend/app/config.py
  backend/tests/ai/test_providers.py
  backend/tests/test_config.py
  backend/tests/test_routes.py
  backend/tests/test_sinks.py
  deploy/cloudflare/src/index.ts
Due: python

chore: 旧名（CF_…）を廃止キーの一覧・テスト・READMEから消す
  README.md
  backend/app/config.py
  backend/tests/test_config.py
Due: python

## 何が変わるか（利用者から見て） 利用者から見える変化はありません。README の「デプロイ（Cloudflare Containers）」に 2 つを足します。
  README.md
Due: none

docs: READMEの表の区切り行をmarkdownlintの書き方にそろえる
  README.md
Due: none

fix: 「はい」「いいえ」はAIに送らずそのまま返し、変換で内容を足したり古風な言い方にしたりしないようプロンプトを直す
  backend/app/ai/prompts.py
  backend/app/ai/service.py
  backend/tests/ai/test_prompts.py
  backend/tests/ai/test_service.py
Due: python

fix: 単語だけの入力の例をお願いの形にしない（区別を変えない決まりとぶつかるため）
  backend/app/ai/prompts.py
Due: python

fix: 古い言い方の決まりを丁寧の指示だけに置き、カジュアルが「です」に寄った後退を直す
  backend/app/ai/prompts.py
  backend/tests/ai/test_prompts.py
Due: python

test: 後退のテストのコメントを、形容詞の「です」の例に絞る
  backend/tests/ai/test_prompts.py
Due: none

docs: 丁寧の古風な言い方を受け入れた限界として台帳に書き、測り終えたL-55を閉じる
  docs/ledger.md
Due: none

docs: 台帳のL-87をdependabotのPRの扱いの決定に合わせる
  docs/ledger.md
Due: none

fix: 定型文の＋が最後の行を覆う・高コントラストで入力欄の枠が二重になるのを直し、設定の選択肢とカード幅・画面タイトルの位置を揃える
  frontend/kotonoha_app/lib/core/themes/app_visual_theme.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/home_input_field.dart
  frontend/kotonoha_app/lib/features/help/presentation/widgets/help_section_widget.dart
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/widgets/phrase_list_widget.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/ai_politeness_settings_widget.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/font_size_settings_widget.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/settings_choice_group.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/settings_section_widget.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/theme_settings_widget.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/tts_speed_settings_widget.dart
  frontend/kotonoha_app/test/core/themes/app_bar_title_alignment_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_input_field_test.dart
  frontend/kotonoha_app/test/features/help/presentation/widgets/help_section_width_test.dart
  frontend/kotonoha_app/test/features/preset_phrase/presentation/preset_phrase_screen_fab_overlap_test.dart
  frontend/kotonoha_app/test/features/settings/presentation/widgets/ai_politeness_settings_widget_test.dart
  frontend/kotonoha_app/test/features/settings/presentation/widgets/settings_section_widget_test.dart
  frontend/kotonoha_app/test/features/settings/presentation/widgets/tts_speed_settings_widget_test.dart
  frontend/kotonoha_app/test/features/settings/settings_round_trip_test.dart
  frontend/kotonoha_app/web/index.html
  frontend/kotonoha_app/web/manifest.json
Due: flutter

fix: 下端に OS の余白がある端末でも、定型文の＋が最後の行の削除ボタンを覆わないようにする
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/widgets/phrase_list_widget.dart
  frontend/kotonoha_app/test/features/preset_phrase/presentation/preset_phrase_screen_fab_overlap_test.dart
Due: flutter

fix: ホームのロゴは左端に保ち、設定の選択肢の文字を16pxにする
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/settings_choice_group.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_reference_ui_test.dart
Due: flutter

feat: タブレットの広さに合わせて、文字盤のキーと文字・シンプルモードのボタン・対面表示の文字を大きくする
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/character_board_widget.dart
  frontend/kotonoha_app/lib/features/face_to_face/presentation/widgets/face_to_face_text_display.dart
  frontend/kotonoha_app/lib/features/quick_response/presentation/widgets/quick_response_button.dart
  frontend/kotonoha_app/lib/features/simple_mode/presentation/simple_mode_view.dart
  frontend/kotonoha_app/test/features/character_board/presentation/widgets/character_board_widget_fit_to_height_test.dart
  frontend/kotonoha_app/test/features/face_to_face/presentation/widgets/face_to_face_text_display_test.dart
  frontend/kotonoha_app/test/features/simple_mode/presentation/simple_mode_view_test.dart
Due: flutter

feat: 色付きボタンを色相から作る面・縁・文字の3色にし、はい・いいえを塗りで強く、キーの影をなくす
  frontend/kotonoha_app/lib/core/themes/button_tone.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/character_board_widget.dart
  frontend/kotonoha_app/lib/features/favorite/presentation/constants/favorite_colors.dart
  frontend/kotonoha_app/lib/features/favorite/presentation/favorites_screen.dart
  frontend/kotonoha_app/lib/features/favorite/presentation/widgets/favorite_item_card.dart
  frontend/kotonoha_app/lib/features/favorite/presentation/widgets/favorite_shortcut_button.dart
  frontend/kotonoha_app/lib/features/quick_response/presentation/widgets/quick_response_button.dart
  frontend/kotonoha_app/lib/features/quick_response/presentation/widgets/quick_response_buttons.dart
  frontend/kotonoha_app/lib/features/simple_mode/presentation/simple_mode_view.dart
  frontend/kotonoha_app/test/features/favorite/presentation/colored_button_contrast_test.dart
Due: flutter

docs: READMEに端末キー（API_KEYS）の作り方と、GitHubのSecretsへの登録を足す
  README.md
Due: none

Path conditions:
  flutter: any of: frontend/, but not: frontend/kotonoha_app/lib/**/*.g.dart, frontend/kotonoha_app/lib/**/*.freezed.dart, frontend/kotonoha_app/lib/gen/**, frontend/kotonoha_app/test/**, frontend/kotonoha_app/integration_test/**, backend/tests/**, backend/alembic/**, infra/**
  python: any of: backend/, but not: frontend/kotonoha_app/lib/**/*.g.dart, frontend/kotonoha_app/lib/**/*.freezed.dart, frontend/kotonoha_app/lib/gen/**, frontend/kotonoha_app/test/**, frontend/kotonoha_app/integration_test/**, backend/tests/**, backend/alembic/**, infra/**
