Repository mozuq-lab/kotonoha: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, python

codecov.yml:

# Codecov configuration for kotonoha project
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        # Target coverage: 80% overall
        target: 80%
        threshold: 2%
        # Don't fail until we reach the target
        informational: false

      flutter:
        paths:
          - "frontend/**"
        target: 80%
        threshold: 2%
        informational: false

      python:
        paths:
          - "backend/**"
        # Python backend target: 90% (business logic & API endpoints)
        target: 90%
        threshold: 2%
        informational: false

    patch:
      default:
        # New code should be at least 80% covered
        target: 80%
        threshold: 5%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

flags:
  flutter:
    paths:
      - frontend/
    carryforward: true
    after_n_builds: 1

  python:
    paths:
      - backend/
    carryforward: true
    after_n_builds: 1

ignore:
  # Generated files
  - "frontend/kotonoha_app/lib/**/*.g.dart"
  - "frontend/kotonoha_app/lib/**/*.freezed.dart"
  - "frontend/kotonoha_app/lib/gen/**"
  # Test files (don't count test coverage of tests)
  - "frontend/kotonoha_app/test/**"
  - "frontend/kotonoha_app/integration_test/**"
  - "backend/tests/**"
  # Configuration files
  - "backend/alembic/**"
  - "infra/**"

docs: backend のセットアップ手順を新 backend の実態に合わせる (#95)
  CONTRIBUTING.md
  README.md
  backend/requirements-dev.txt
  docs/SETUP.md
  docs/plans/2026-09-02-remaining-work.md
  docs/tech-stack.md
Due: python

docs: AGENTS.md の道具表から tsumiki:ipa-security-check を外す（使わないと決定）
  AGENTS.md
Due: none

build: Android のリリース配布物（AAB）を flavor 付きで作り、PR の CI でも毎回作る (台帳 #85 L-52)
  .github/workflows/flutter.yml
  .github/workflows/release.yml
Due: none

docs: ストア掲載文の事実誤りと文字数超過を直す（カテゴリ名・読み上げ速度の段階・英語の字数）
  frontend/kotonoha_app/android/fastlane/metadata/android/en-US/full_description.txt
  frontend/kotonoha_app/android/fastlane/metadata/android/en-US/short_description.txt
  frontend/kotonoha_app/android/fastlane/metadata/android/ja-JP/full_description.txt
  frontend/kotonoha_app/fastlane/metadata/en-US/description.txt
  frontend/kotonoha_app/fastlane/metadata/en-US/subtitle.txt
  frontend/kotonoha_app/fastlane/metadata/ja-JP/description.txt
Due: flutter

fix: Android 12 以上でも自動バックアップの対象を設定だけに限定する（データ抽出規則の追加）
  frontend/kotonoha_app/android/app/src/main/AndroidManifest.xml
  frontend/kotonoha_app/android/app/src/main/res/xml/backup_rules.xml
  frontend/kotonoha_app/android/app/src/main/res/xml/data_extraction_rules.xml
Due: flutter

fix: Android 12 以上でも自動バックアップの対象を設定だけに限定する（データ抽出規則の追加） (#99)
  frontend/kotonoha_app/android/app/src/main/AndroidManifest.xml
  frontend/kotonoha_app/android/app/src/main/res/xml/backup_rules.xml
  frontend/kotonoha_app/android/app/src/main/res/xml/data_extraction_rules.xml
Due: flutter

docs: ストア掲載文の事実誤りと文字数超過を直す（カテゴリ名・読み上げ速度の段階・英語の字数） (#98)
  frontend/kotonoha_app/android/fastlane/metadata/android/en-US/full_description.txt
  frontend/kotonoha_app/android/fastlane/metadata/android/en-US/short_description.txt
  frontend/kotonoha_app/android/fastlane/metadata/android/ja-JP/full_description.txt
  frontend/kotonoha_app/fastlane/metadata/en-US/description.txt
  frontend/kotonoha_app/fastlane/metadata/en-US/subtitle.txt
  frontend/kotonoha_app/fastlane/metadata/ja-JP/description.txt
Due: flutter

docs: AGENTS.md の道具表から tsumiki:ipa-security-check を外す（使わないと決定） (#96)
  AGENTS.md
Due: none

build: Android のリリース配布物（AAB）を flavor 付きで作り、PR の CI でも毎回作る (台帳 #85 L-52) (#97)
  .github/workflows/flutter.yml
  .github/workflows/release.yml
Due: none

docs: 文書の枠組み（決定）と Phase 4 の実装計画を置く
  docs/plans/2026-09-05-docs-framework-and-inventory.md
Due: none

docs: 文書の枠組み（決定）と Phase 4 の実装計画を置く (#100)
  docs/plans/2026-09-05-docs-framework-and-inventory.md
Due: none

docs: ADR の規則に「検査節でどの層で守るかを書く」を足す (Phase 4 計画 A3-7)
  docs/plans/2026-09-05-docs-framework-and-inventory.md
Due: none

docs: Part A の決定は Phase 5 で ADR-010 として書く。未卒業 5 本の内訳と 6 本目の扱いを明記
  docs/plans/2026-09-05-docs-framework-and-inventory.md
Due: none

docs: 層 3 を「思い出す」から「列挙する」に（索引に識別子の錨、着手前の yes/no、レビューにも同じ行）
  docs/plans/2026-09-05-docs-framework-and-inventory.md
Due: none

docs: ADR の規則に「検査節でどの層で守るかを書く」を足す (#101)
  docs/plans/2026-09-05-docs-framework-and-inventory.md
Due: none

ci: ADR 索引を 5 列の表にし、PR の差分を索引に当ててコメントする（止めない）(Phase 4 / Task 1)
  .github/workflows/adr-touch.yml
  AGENTS.md
  scripts/adr-touch.sh
Due: none

ci: adr-touch のコメント検索を全ページに広げる（更新の冪等性）
  .github/workflows/adr-touch.yml
Due: none

ci: adr-touch の backend パターンを root 相対に直し、索引の識別子と核の層 2 の記述を揃える（最終レビュー）
  .github/workflows/adr-touch.yml
  AGENTS.md
  scripts/adr-touch.sh
Due: none

ci: 毎月 1 日に棚卸しの Issue を立てる (Phase 4 / Task 2)
  .github/workflows/inventory-reminder.yml
Due: none

docs: 台帳を docs/ledger.md に移し、#85 を仕分ける (Phase 4 / Task 3)
  AGENTS.md
  docs/ledger.md
Due: none

docs: 台帳に L-13 と L-64 を足し、パスを repo-root 相対にし、#85 への残参照を台帳ファイルに向ける（最終レビュー）
  CONTRIBUTING.md
  docs/adr/ADR-007-release-criteria.md
  docs/ledger.md
Due: none

feat: 月 1 の棚卸しスキルと計測スクリプトを足す (Phase 4 / Task 4)
  .claude/skills/inventory/SKILL.md
  AGENTS.md
  scripts/inventory.sh
Due: none

feat: inventory の道具検査を深い階層にも効かせ、降ろす前に現物確認を求める（最終レビュー）
  .claude/skills/inventory/SKILL.md
  scripts/inventory.sh
Due: none

build: mutmut を入れて kill rate を測る（config / errors / auth / ratelimit）(Phase 4 / Task 5)
  .gitignore
  backend/Makefile
  backend/pyproject.toml
  backend/requirements-dev.txt
  docs/ledger.md
Due: python

build: 台帳の L-56 を対応済みにし、mutmut のテスト指定が腐る問題を L-65 として書く（最終レビュー）
  backend/Makefile
  docs/ledger.md
Due: python

build: mutmut を入れて kill rate を測る (#106)
  .gitignore
  backend/Makefile
  backend/pyproject.toml
  backend/requirements-dev.txt
  docs/ledger.md
Due: python

feat: 月 1 の棚卸しスキルと計測スクリプトを足す (#105)
  .claude/skills/inventory/SKILL.md
  .gitignore
  AGENTS.md
  backend/Makefile
  backend/pyproject.toml
  backend/requirements-dev.txt
  docs/ledger.md
  scripts/inventory.sh
Due: python

ci: 毎月 1 日に棚卸しの Issue を立てる (Phase 4 / Task 2) (#103)
  .github/workflows/inventory-reminder.yml
Due: none

docs: 台帳を docs/ledger.md に移し、#85 を仕分ける (#104)
  .claude/skills/inventory/SKILL.md
  .gitignore
  AGENTS.md
  CONTRIBUTING.md
  backend/Makefile
  backend/pyproject.toml
  backend/requirements-dev.txt
  docs/adr/ADR-007-release-criteria.md
  docs/ledger.md
  scripts/inventory.sh
Due: python

ci: PR の差分を ADR 索引に当ててコメントする（止めない） (#102)
  .claude/skills/inventory/SKILL.md
  .github/workflows/adr-touch.yml
  .github/workflows/inventory-reminder.yml
  .gitignore
  AGENTS.md
  CONTRIBUTING.md
  backend/Makefile
  backend/pyproject.toml
  backend/requirements-dev.txt
  docs/adr/ADR-007-release-criteria.md
  docs/ledger.md
  scripts/adr-touch.sh
  scripts/inventory.sh
Due: python

docs: 棚卸し 2026-09 の結果を台帳に書き、Phase 4 を閉じる (Phase 4 / Task 6)
  AGENTS.md
  docs/ledger.md
  docs/plans/2026-08-29-architecture-remediation.md
  docs/plans/2026-09-02-remaining-work.md
Due: none

docs: 棚卸し 2026-09 の結果を台帳に書き、Phase 4 を閉じる (Phase 4 / Task 6) (#108)
  AGENTS.md
  docs/ledger.md
  docs/plans/2026-08-29-architecture-remediation.md
  docs/plans/2026-09-02-remaining-work.md
Due: none

docs: Phase 5（文書の作り直しとコード整理）の設計と実装計画を置く
  docs/plans/2026-09-06-phase5-docs-rewrite.md
Due: none

docs: ADR-010（文書の枠組み）を置き、検査が CI にある ADR 5 本を卒業させる (Phase 5 / Task 1)
  AGENTS.md
  docs/adr/ADR-010-document-framework.md
  docs/archive/adr/ADR-001-backend-stateless.md
  docs/archive/adr/ADR-003-errors-are-typed.md
  docs/archive/adr/ADR-004-config-immutable.md
  docs/archive/adr/ADR-006-layer-dependency-enforced.md
  docs/archive/adr/ADR-008-debt-gate-state-comparison.md
Due: none

docs: ADR-002・005 を 60 行の型に書き直す（改訂節と実装後の補足を本文へ吸収） (Phase 5 / Task 2)
  AGENTS.md
  docs/adr/ADR-002-rate-limit-single-instance.md
  docs/adr/ADR-005-frontend-single-truth.md
Due: none

docs: 索引の ADR-002 行のパスをルート相対に直す (Phase 5 / Task 2)
  AGENTS.md
Due: none

docs: ADR-007・009 を 60 行の型に書き直す（充足状況と改訂節を本文へ吸収） (Phase 5 / Task 3)
  docs/adr/ADR-007-release-criteria.md
  docs/adr/ADR-009-crash-reporting-store-native.md
Due: none

docs: README を開発者の正本にし、fvm を 3.38.1 にピン留めし、tech-stack・SETUP・CONTRIBUTING を倉庫へ (Phase 5 / Task 4)
  .github/workflows/python.yml
  .gitignore
  AGENTS.md
  README.md
  docs/archive/CONTRIBUTING.md
  docs/archive/SETUP.md
  docs/archive/tech-stack.md
  docs/spec/kotonoha-requirements.md
  frontend/kotonoha_app/.fvmrc
Due: flutter

docs: README の規約に、ブランチ運用の生きている 2 項目を戻す (Phase 5 / Task 4)
  README.md
Due: none
