Repository mozuq-lab/kotonoha: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, python

chore: serenaを削除
  .claude/settings.json
  .serena/.gitignore
  .serena/memories/code_style_and_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
Due: none

fix: 認証スキップをallowlist方式に反転（ENVIRONMENT検証・非ASCIIキー401化）
  .env.example
  backend/.env.example
  backend/app/api/deps.py
  backend/app/core/config.py
  backend/app/core/security.py
  backend/tests/core/test_config.py
  backend/tests/core/test_security.py
  backend/tests/test_api/test_api_key_auth.py
Due: python

fix: スマホ縦横レイアウト対応（文字盤fit-to-height・コンパクト2ペイン・44px下限）
  frontend/kotonoha_app/lib/core/constants/app_sizes.dart
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/politeness_level_selector.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/character_board_widget.dart
  frontend/kotonoha_app/lib/features/quick_response/presentation/widgets/quick_response_button.dart
  frontend/kotonoha_app/lib/features/quick_response/presentation/widgets/quick_response_buttons.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_responsive_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/widgets/character_board_widget_fit_to_height_test.dart
Due: flutter

fix: Hive破損復旧と入力ドラフトの保存・復元を配線（クラッシュ保護）
  frontend/kotonoha_app/lib/app.dart
  frontend/kotonoha_app/lib/core/utils/hive_init.dart
  frontend/kotonoha_app/lib/features/app_state/providers/app_lifecycle_observer.dart
  frontend/kotonoha_app/lib/main.dart
  frontend/kotonoha_app/test/core/utils/hive_init_corruption_test.dart
  frontend/kotonoha_app/test/features/app_state/app_lifecycle_observer_draft_test.dart
Due: flutter

fix: 緊急音源の実データ化と音量警告・liveRegionの配線
  frontend/kotonoha_app/assets/audio/emergency_alarm.m4a
  frontend/kotonoha_app/assets/audio/emergency_alarm.mp3
  frontend/kotonoha_app/lib/core/widgets/app_shell.dart
  frontend/kotonoha_app/lib/features/emergency/domain/services/emergency_audio_service.dart
  frontend/kotonoha_app/lib/features/emergency/presentation/screens/emergency_alert_screen.dart
  frontend/kotonoha_app/test/core/widgets/app_shell_emergency_volume_warning_test.dart
  frontend/kotonoha_app/test/features/emergency/domain/services/emergency_audio_asset_test.dart
  frontend/kotonoha_app/test/features/emergency/domain/services/emergency_audio_service_test.dart
  frontend/kotonoha_app/test/features/emergency/presentation/screens/emergency_alert_screen_test.dart
Due: flutter

chore: pubspec.lock更新（ローカルFlutter SDKによるロック再生成）
  frontend/kotonoha_app/pubspec.lock
Due: flutter

feat: 実装済み未配線機能の統合（状態ボタン・対面表示・チュートリアル・オフライン表示）
  frontend/kotonoha_app/lib/core/constants/app_sizes.dart
  frontend/kotonoha_app/lib/core/router/app_router.dart
  frontend/kotonoha_app/lib/core/widgets/app_shell.dart
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_button.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/face_to_face/presentation/screens/face_to_face_screen.dart
  frontend/kotonoha_app/lib/features/help/presentation/screens/help_screen.dart
  frontend/kotonoha_app/test/core/router/app_router_test.dart
  frontend/kotonoha_app/test/core/widgets/app_shell_tutorial_and_offline_test.dart
  frontend/kotonoha_app/test/features/ai_conversion/presentation/widgets/ai_conversion_button_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_wiring_test.dart
  frontend/kotonoha_app/test/features/help/presentation/screens/help_screen_test.dart
  frontend/kotonoha_app/test/integration/face_to_face_navigation_test.dart
Due: flutter

fix: TTS速度の起動時復元とコントラストAA違反色の修正
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_result_dialog.dart
  frontend/kotonoha_app/lib/features/settings/providers/settings_provider.dart
  frontend/kotonoha_app/lib/features/tts/domain/services/tts_service.dart
  frontend/kotonoha_app/lib/features/tts/presentation/widgets/tts_button.dart
  frontend/kotonoha_app/lib/features/tts/providers/tts_provider.dart
  frontend/kotonoha_app/test/features/ai_conversion/presentation/widgets/ai_conversion_result_dialog_test.dart
  frontend/kotonoha_app/test/features/settings/providers/settings_provider_tts_speed_test.dart
  frontend/kotonoha_app/test/features/tts/domain/services/tts_service_test.dart
  frontend/kotonoha_app/test/features/tts/presentation/widgets/tts_button_test.dart
Due: flutter

fix: AI変換の信頼性改善（デッドライン・DBログ分離・レート制限設定化）
  backend/.env.example
  backend/app/api/v1/endpoints/ai.py
  backend/app/core/config.py
  backend/app/core/rate_limit.py
  backend/app/main.py
  backend/app/schemas/ai_conversion.py
  backend/app/utils/ai_client.py
  backend/tests/core/test_config.py
  backend/tests/test_ai_client.py
  backend/tests/test_api/test_ai_convert.py
  backend/tests/test_api/test_ai_regenerate.py
  backend/tests/test_api/test_openapi.py
  backend/tests/test_api/test_rate_limit.py
  backend/tests/test_schemas_ai_conversion.py
Due: python

docs: 実装との乖離を修正（レート制限・認証・Riverpod版・対面表示・タスク履歴）
  CLAUDE.md
  docs/design/kotonoha/README.md
  docs/design/kotonoha/api-endpoints.md
  docs/design/kotonoha/architecture.md
  docs/design/kotonoha/dataflow.md
  docs/tasks/kotonoha-overview.md
  docs/tasks/kotonoha-phase3.md
  docs/tasks/kotonoha-phase4.md
  docs/tech-stack.md
  docs/user-guide/index.md
  docs/user-guide/troubleshooting.md
Due: none

fix: レート制限のRedisストレージ依存を追加しフェイルファスト化（Codexレビュー対応）
  .env.example
  backend/.env.example
  backend/app/core/rate_limit.py
  backend/requirements.txt
  backend/tests/test_api/test_rate_limit.py
Due: python

fix: Hive復旧の破壊的削除を制限・チュートリアル/候補チップのレイアウト修正（Codexレビュー対応）
  frontend/kotonoha_app/lib/core/constants/app_sizes.dart
  frontend/kotonoha_app/lib/core/utils/hive_box_backup.dart
  frontend/kotonoha_app/lib/core/utils/hive_box_backup_io.dart
  frontend/kotonoha_app/lib/core/utils/hive_init.dart
  frontend/kotonoha_app/lib/features/help/presentation/widgets/tutorial_overlay.dart
  frontend/kotonoha_app/lib/features/input_candidates/presentation/widgets/input_candidate_chips.dart
  frontend/kotonoha_app/pubspec.lock
  frontend/kotonoha_app/pubspec.yaml
  frontend/kotonoha_app/test/core/utils/hive_init_corruption_test.dart
  frontend/kotonoha_app/test/features/help/presentation/widgets/tutorial_overlay_test.dart
  frontend/kotonoha_app/test/features/input_candidates/presentation/widgets/input_candidate_chips_test.dart
Due: flutter

fix: retrofit/retrofit_generatorの非互換によるコード生成失敗を解消
  frontend/kotonoha_app/pubspec.lock
  frontend/kotonoha_app/pubspec.yaml
Due: flutter

test: ElevatedButton.iconのSDK内部実装差に依存しないfinderへ修正
  frontend/kotonoha_app/test/features/tts/presentation/widgets/tts_button_test.dart
Due: none

fix: お気に入り個別削除の確認ダイアログを復元（REQ-704/REQ-2002準拠）
  frontend/kotonoha_app/lib/features/favorites/presentation/favorites_screen.dart
  frontend/kotonoha_app/lib/shared/widgets/undo_snack_bar.dart
  frontend/kotonoha_app/test/features/favorites/presentation/favorites_screen_test.dart
Due: flutter

fix: DBログ書き込みをBackgroundTasks+独立セッションで応答経路から完全分離
  backend/app/api/deps.py
  backend/app/api/v1/endpoints/ai.py
  backend/app/crud/crud_ai_conversion.py
  backend/tests/conftest.py
  backend/tests/test_api/test_ai_convert.py
Due: python

fix: HiveのBox名小文字化規則に合わせてバックアップパスを構築
  frontend/kotonoha_app/lib/core/utils/hive_box_backup_io.dart
  frontend/kotonoha_app/lib/core/utils/hive_init.dart
  frontend/kotonoha_app/test/core/utils/hive_box_backup_io_test.dart
  frontend/kotonoha_app/test/core/utils/hive_init_corruption_test.dart
Due: flutter

fix: ruffのalembic分類揺れを解消しconftestのimport順序を修正（I001）
  backend/pyproject.toml
  backend/tests/conftest.py
Due: python

chore: フォーマッタ・リンタのバージョンを統一 (改善対応)
  .github/workflows/python.yml
  .pre-commit-config.yaml
Due: none

fix: X-Forwarded-For解釈をフェイルクローズ化 (改善対応)
  CLAUDE.md
  backend/.env.example
  backend/app/core/rate_limit.py
  backend/tests/test_api/test_rate_limit.py
  docs/design/kotonoha/api-endpoints.md
Due: python

fix: ShellRoute配下でのAI変換ダイアログpop誤爆を修正 (改善対応)
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_result_dialog.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/test/features/ai_conversion/presentation/widgets/ai_conversion_dialog_no_caller_pop_test.dart
  frontend/kotonoha_app/test/features/ai_conversion/presentation/widgets/ai_conversion_result_dialog_shell_route_test.dart
Due: flutter

test: コントラスト比検証の共通ヘルパーを追加 (改善対応)
  frontend/kotonoha_app/test/accessibility/contrast_helpers.dart
Due: none

fix: 警告系ウィジェットのコントラストをWCAG AA準拠に (改善対応)
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_button.dart
  frontend/kotonoha_app/lib/features/tts/presentation/widgets/volume_warning_widget.dart
  frontend/kotonoha_app/test/accessibility/warning_widget_contrast_test.dart
Due: flutter

fix: エラーダイアログのコントラストをWCAG AA準拠に (改善対応)
  frontend/kotonoha_app/lib/core/widgets/error_dialog.dart
  frontend/kotonoha_app/test/accessibility/error_dialog_contrast_test.dart
Due: flutter

test: TC-069-014の連続タップ防止テストを実効性のある形に修正 (改善対応)
  frontend/kotonoha_app/test/features/ai_conversion/presentation/widgets/ai_conversion_result_dialog_test.dart
Due: none

chore: 環境変数の配置をbackend/.envに一本化 (改善対応)
  .env.example
  CONTRIBUTING.md
  README.md
  docker-compose.yml
  docs/SETUP.md
  docs/tech-stack.md
Due: none

ci: 統合テストをflutter drive方式へ移行し握り潰しを撤去 (改善対応)
  .github/workflows/flutter.yml
  frontend/kotonoha_app/integration_test/README.md
  frontend/kotonoha_app/integration_test/test_driver.dart
  frontend/kotonoha_app/test_driver/integration_test.dart
Due: flutter

ci: カバレッジゲートを実効化しVercelデプロイをsecretsでガード (改善対応)
  .github/workflows/flutter.yml
  .github/workflows/python.yml
  .github/workflows/release.yml
Due: none

ci: 統合テストの失敗を集約して報告する (改善対応)
  .github/workflows/flutter.yml
Due: none

ci: ヘッドレスWebで失敗するE2E5本を一時的にCI対象外にする (改善対応)
  .github/workflows/flutter.yml
Due: none

test: popガードテストをanalyzerベースに書き換える (改善対応)
  frontend/kotonoha_app/pubspec.lock
  frontend/kotonoha_app/pubspec.yaml
  frontend/kotonoha_app/test/features/ai_conversion/presentation/widgets/ai_conversion_dialog_no_caller_pop_test.dart
Due: flutter

test: コントラスト比ヘルパーを実際に共通化する (改善対応)
  frontend/kotonoha_app/test/accessibility/error_dialog_contrast_test.dart
  frontend/kotonoha_app/test/accessibility/warning_widget_contrast_test.dart
  frontend/kotonoha_app/test/core/themes/high_contrast_theme_test.dart
  frontend/kotonoha_app/test/features/ai_conversion/presentation/widgets/ai_conversion_result_dialog_test.dart
  frontend/kotonoha_app/test/features/settings/providers/settings_provider_theme_test.dart
  frontend/kotonoha_app/test/features/tts/presentation/widgets/tts_button_test.dart
  frontend/kotonoha_app/test/support/contrast_helpers.dart
Due: none

refactor: 警告色をAppColorsのデザイントークンに集約する (改善対応)
  frontend/kotonoha_app/lib/core/constants/app_colors.dart
  frontend/kotonoha_app/lib/core/widgets/error_dialog.dart
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_button.dart
  frontend/kotonoha_app/lib/features/tts/presentation/widgets/volume_warning_widget.dart
Due: flutter

refactor: 警告色トークンの命名を整理し削除基準を揃える (改善対応)
  frontend/kotonoha_app/lib/core/constants/app_colors.dart
  frontend/kotonoha_app/lib/core/widgets/error_dialog.dart
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_button.dart
  frontend/kotonoha_app/lib/features/tts/presentation/widgets/volume_warning_widget.dart
Due: flutter

test: テスト側のレビュー指摘を反映する (改善対応)
  frontend/kotonoha_app/pubspec.yaml
  frontend/kotonoha_app/test/accessibility/warning_widget_contrast_test.dart
  frontend/kotonoha_app/test/features/ai_conversion/presentation/widgets/ai_conversion_dialog_no_caller_pop_test.dart
  frontend/kotonoha_app/test/features/settings/providers/settings_provider_theme_test.dart
Due: flutter

改善対応: レビュー指摘の反映（セキュリティ・P0バグ・アクセシビリティ・CI） (#83)
  .env.example
  .github/workflows/flutter.yml
  .github/workflows/python.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  backend/.env.example
  backend/app/core/rate_limit.py
  backend/tests/test_api/test_rate_limit.py
  docker-compose.yml
  docs/SETUP.md
  docs/design/kotonoha/api-endpoints.md
  docs/tech-stack.md
  frontend/kotonoha_app/integration_test/README.md
  frontend/kotonoha_app/integration_test/test_driver.dart
  frontend/kotonoha_app/lib/core/constants/app_colors.dart
  frontend/kotonoha_app/lib/core/widgets/error_dialog.dart
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_button.dart
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_result_dialog.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/tts/presentation/widgets/volume_warning_widget.dart
  frontend/kotonoha_app/pubspec.lock
  frontend/kotonoha_app/pubspec.yaml
  frontend/kotonoha_app/test/accessibility/error_dialog_contrast_test.dart
  frontend/kotonoha_app/test/accessibility/warning_widget_contrast_test.dart
  frontend/kotonoha_app/test/core/themes/high_contrast_theme_test.dart
  frontend/kotonoha_app/test/features/ai_conversion/presentation/widgets/ai_conversion_dialog_no_caller_pop_test.dart
  frontend/kotonoha_app/test/features/ai_conversion/presentation/widgets/ai_conversion_result_dialog_shell_route_test.dart
  frontend/kotonoha_app/test/features/ai_conversion/presentation/widgets/ai_conversion_result_dialog_test.dart
  frontend/kotonoha_app/test/features/settings/providers/settings_provider_theme_test.dart
  frontend/kotonoha_app/test/features/tts/presentation/widgets/tts_button_test.dart
  frontend/kotonoha_app/test/support/contrast_helpers.dart
  frontend/kotonoha_app/test_driver/integration_test.dart
Due: flutter, python

fix: 本番でRATE_LIMIT_STORAGE_URI未設定なら起動失敗させる (改善対応)
  CLAUDE.md
  backend/.env.example
  backend/app/core/config.py
  backend/tests/core/test_config.py
  docs/design/kotonoha/api-endpoints.md
Due: python

chore: 未使用のJWT/bcrypt実装とpython-jose・bcrypt依存を削除 (改善対応)
  backend/.env.example
  backend/app/core/config.py
  backend/app/core/security.py
  backend/requirements.txt
  backend/tests/core/test_security.py
  docs/tech-stack.md
Due: python

Path conditions:
  flutter: any of: frontend/, but not: frontend/kotonoha_app/lib/**/*.g.dart, frontend/kotonoha_app/lib/**/*.freezed.dart, frontend/kotonoha_app/lib/gen/**, frontend/kotonoha_app/test/**, frontend/kotonoha_app/integration_test/**, backend/tests/**, backend/alembic/**, infra/**
  python: any of: backend/, but not: frontend/kotonoha_app/lib/**/*.g.dart, frontend/kotonoha_app/lib/**/*.freezed.dart, frontend/kotonoha_app/lib/gen/**, frontend/kotonoha_app/test/**, frontend/kotonoha_app/integration_test/**, backend/tests/**, backend/alembic/**, infra/**
