Repository mozuq-lab/kotonoha: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, python

docs: OpenSpec に最初の2 capability と ADR 要約を書く (Phase 3 / WP-6)
  openspec/config.yaml
  openspec/specs/favorites/spec.md
  openspec/specs/persistence-state/spec.md
Due: none

fix: 2系統レビューの指摘を反映し、許可リストの穴を構造で塞ぐ (Phase 3 / WP-5)
  frontend/kotonoha_app/analysis_options.yaml
  frontend/kotonoha_app/lib/core/utils/hive_init.dart
  frontend/kotonoha_app/test/core/persistence/hive_schema_allowlist_test.dart
Due: flutter

test: お気に入りと履歴の往復テストを入れる (Phase 3 / WP-3)
  frontend/kotonoha_app/test/features/favorite/favorite_round_trip_test.dart
  frontend/kotonoha_app/test/features/history/history_round_trip_test.dart
Due: none

test: 定型文と設定の往復テストを入れ、WP-3 の4 feature を揃える (Phase 3 / WP-3)
  frontend/kotonoha_app/test/features/preset_phrase/preset_phrase_round_trip_test.dart
  frontend/kotonoha_app/test/features/settings/settings_round_trip_test.dart
Due: none

docs: Phase 3 の決定を ADR へ昇格し、計画書を破棄する (Phase 3 / フェーズ末)
  docs/adr/ADR-005-frontend-single-truth.md
  docs/adr/ADR-007-release-criteria.md
  docs/plans/2026-08-29-architecture-remediation.md
  docs/plans/2026-08-30-phase3-frontend-tasks.md
  docs/verification-principles.md
Due: none

Phase 3 を完了する — Hive 許可リスト・往復テスト・OpenSpec baseline (ADR-007 条件1) (#89)
  docs/adr/ADR-005-frontend-single-truth.md
  docs/adr/ADR-007-release-criteria.md
  docs/plans/2026-08-29-architecture-remediation.md
  docs/plans/2026-08-30-phase3-frontend-tasks.md
  docs/verification-principles.md
  frontend/kotonoha_app/analysis_options.yaml
  frontend/kotonoha_app/lib/core/utils/hive_init.dart
  frontend/kotonoha_app/test/core/persistence/hive_schema_allowlist_test.dart
  frontend/kotonoha_app/test/core/utils/hive_init_corruption_test.dart
  frontend/kotonoha_app/test/features/favorite/favorite_round_trip_test.dart
  frontend/kotonoha_app/test/features/history/history_round_trip_test.dart
  frontend/kotonoha_app/test/features/preset_phrase/preset_phrase_round_trip_test.dart
  frontend/kotonoha_app/test/features/settings/settings_round_trip_test.dart
  openspec/config.yaml
  openspec/specs/favorites/spec.md
  openspec/specs/persistence-state/spec.md
Due: flutter

test: 緊急ボタンの到達性を全ルート・縦横で検査する (ADR-007 条件2)
  frontend/kotonoha_app/test/features/emergency/emergency_button_overlap_test.dart
Due: none

docs: 条件2（緊急ボタンの両側テスト）を確認して充足を記録する (ADR-007)
  docs/adr/ADR-007-release-criteria.md
Due: none

docs: 残作業の索引を1枚にまとめる (2026-09-02 実測)
  docs/plans/2026-09-02-remaining-work.md
Due: none

docs: Phase 2（backend 書き直し）の task 分解計画を置く
  docs/plans/2026-09-02-phase2-backend-tasks.md
Due: none

test: 旧 backend の外部契約を characterization テストとして固定する（AI変換・health・docs）(Phase 2 / Task 1)
  backend/tests/contract/__init__.py
  backend/tests/contract/conftest.py
  backend/tests/contract/test_ai.py
  backend/tests/contract/test_health_docs.py
Due: none

test: 契約テストの依存 respx を requirements に記録する (Phase 2 / Task 1)
  backend/requirements.txt
Due: python

test: 旧 backend の外部契約を固定する（認証・レート制限・CORS・OpenAPI baseline）(Phase 2 / Task 2)
  backend/tests/contract/dump_openapi.py
  backend/tests/contract/openapi_baseline.json
  backend/tests/contract/test_auth.py
  backend/tests/contract/test_cors.py
  backend/tests/contract/test_openapi.py
  backend/tests/contract/test_ratelimit.py
Due: none

refactor: 新 backend の型付きエラーと構造化ログを足す（ADR-003、Python 3.12）(Phase 2 / Task 3)
  backend/app/errors.py
  backend/app/logging.py
  backend/pyproject.toml
  backend/requirements-dev.txt
  backend/requirements.txt
  backend/tests/conftest.py
  backend/tests/test_errors.py
  backend/tests/test_logging.py
Due: python

refactor: errors.py の docstring から grep ゲートに当たる語を除く (Phase 2 / Task 3)
  backend/app/errors.py
Due: python

docs: Phase 2 計画書の errors.py docstring から grep ゲートに当たる語を除く
  docs/plans/2026-09-02-phase2-backend-tasks.md
Due: none

refactor: 新 backend の不変設定を足す（ADR-004、環境判定の一本化、本番ゲート、削除済みキー警告）(Phase 2 / Task 4)
  backend/app/config.py
  backend/tests/conftest.py
  backend/tests/test_config.py
Due: python

refactor: 新 backend の AI プロバイダ境界と変換サービスを足す（SDK 例外は型名のみ、再試行と締切を一元化）(Phase 2 / Task 5)
  backend/app/ai/__init__.py
  backend/app/ai/prompts.py
  backend/app/ai/providers.py
  backend/app/ai/service.py
  backend/tests/ai/__init__.py
  backend/tests/ai/test_prompts.py
  backend/tests/ai/test_providers.py
  backend/tests/ai/test_service.py
Due: python

refactor: 空応答の扱いを Anthropic / OpenAI で揃える (Phase 2 / Task 5)
  backend/app/ai/providers.py
  backend/tests/ai/test_providers.py
Due: python

refactor: 新 backend の入出力スキーマ・API キー認証・プロセス内レート制限を足す（ADR-002）(Phase 2 / Task 6)
  backend/app/auth.py
  backend/app/ratelimit.py
  backend/app/schemas.py
  backend/app/schemas/__init__.py
  backend/app/schemas/ai_conversion.py
  backend/app/schemas/common.py
  backend/app/schemas/health.py
  backend/tests/test_auth.py
  backend/tests/test_ratelimit.py
  backend/tests/test_schemas.py
Due: python

test: canary 全シンク観測・記号キー起動 smoke・起動ガード・grep ゲートを足す（ADR-002/003/004）(Phase 2 / Task 8a)
  backend/Makefile
  backend/scripts/gates.sh
  backend/tests/test_sinks.py
  backend/tests/test_startup.py
Due: python

build: CI と Docker から DB を外し、Python 3.12 と型・層・ゲート検査を入れる（ADR-001/002/006）(Phase 2 / Task 8b)
  .env.example
  .github/workflows/python.yml
  backend/.env.example
  backend/Dockerfile
  docker-compose.yml
  docker/backend/Dockerfile
  docker/postgres/Dockerfile
  docker/postgres/init.sql
Due: python

build: CI の HTML カバレッジ出力を復元する (Phase 2 / Task 8b)
  .github/workflows/python.yml
Due: none

docs: AGENTS.md と tech-stack を新 backend に合わせ、ADR-006 の層を改訂する (Phase 2 / Task 9)
  .pre-commit-config.yaml
  AGENTS.md
  docs/adr/ADR-006-layer-dependency-enforced.md
  docs/plans/2026-08-29-architecture-remediation.md
  docs/tech-stack.md
Due: none

build: make check に black --check を含める (Phase 2 / Task 9)
  backend/Makefile
Due: python

fix: 2系統レビューの指摘を直す — 起動ガードの整数解析、provider 初期化の例外境界、422 の有限語彙、文書 (Phase 2 / final)
  AGENTS.md
  backend/.env.example
  backend/app/errors.py
  backend/app/main.py
  backend/app/ratelimit.py
  backend/tests/test_ratelimit.py
  backend/tests/test_routes.py
  backend/tests/test_sinks.py
  backend/tests/test_startup.py
  docs/plans/2026-08-29-architecture-remediation.md
  docs/plans/2026-09-02-phase2-backend-tasks.md
  docs/tech-stack.md
Due: python

fix: 最終レビューの指摘を直す — XFF 複数行、最外殻の例外境界、--no-proxy-headers、文書 (Phase 2 / final 2)
  .dockerignore
  AGENTS.md
  backend/.dockerignore
  backend/.env.example
  backend/Dockerfile
  backend/Makefile
  backend/app/main.py
  backend/app/ratelimit.py
  backend/requirements.txt
  backend/tests/test_ratelimit.py
  backend/tests/test_sinks.py
  backend/tests/test_startup.py
  docker/backend/Dockerfile
  docs/adr/ADR-002-rate-limit-single-instance.md
  docs/plans/2026-09-02-phase2-backend-tasks.md
  docs/tech-stack.md
Due: python

docs: 最終レビューの残余を直す — SETUP.md に旧 backend の注記、tech-stack の SQLAlchemy 言及、到達行数 (Phase 2 / final)
  docs/SETUP.md
  docs/plans/2026-08-29-architecture-remediation.md
  docs/tech-stack.md
Due: none

緊急ボタンの到達性を全ルート・縦横で検査する (ADR-007 条件2) (#90)
  docs/adr/ADR-007-release-criteria.md
  frontend/kotonoha_app/test/features/emergency/emergency_button_overlap_test.dart
Due: none

docs: 残作業の索引を1枚にまとめる (2026-09-02 実測) (#92)
  docs/plans/2026-09-02-remaining-work.md
Due: none

docs: クラッシュ報告はストア標準に依拠すると決める (ADR-009 / ADR-007 条件3)
  docs/adr/ADR-007-release-criteria.md
  docs/adr/ADR-009-crash-reporting-store-native.md
Due: none

fix: ストア用メタデータのプライバシー/サポート URL が 404 だったのを直す
  frontend/kotonoha_app/fastlane/metadata/en-US/privacy_url.txt
  frontend/kotonoha_app/fastlane/metadata/en-US/support_url.txt
  frontend/kotonoha_app/fastlane/metadata/ja-JP/privacy_url.txt
  frontend/kotonoha_app/fastlane/metadata/ja-JP/support_url.txt
Due: flutter

docs: プライバシーポリシーにクラッシュ情報の扱いを明記する (ADR-007 条件3)
  docs/privacy-policy.md
Due: none

クラッシュ報告はストア標準に依拠すると決める (ADR-009 / ADR-007 条件3) (#91)
  docs/adr/ADR-007-release-criteria.md
  docs/adr/ADR-009-crash-reporting-store-native.md
  docs/privacy-policy.md
  frontend/kotonoha_app/fastlane/metadata/en-US/privacy_url.txt
  frontend/kotonoha_app/fastlane/metadata/en-US/support_url.txt
  frontend/kotonoha_app/fastlane/metadata/ja-JP/privacy_url.txt
  frontend/kotonoha_app/fastlane/metadata/ja-JP/support_url.txt
Due: flutter

docs: Phase 2 の計画書を完了につき破棄する (Phase 2 / フェーズ末)
  docs/plans/2026-08-29-architecture-remediation.md
  docs/plans/2026-09-02-phase2-backend-tasks.md
Due: none

docs: backend のセットアップ手順を新 backend の実態に合わせる（uv venv --seed・pre-commit・DB 無し）
  CONTRIBUTING.md
  README.md
  docs/SETUP.md
  docs/plans/2026-09-02-remaining-work.md
  docs/tech-stack.md
Due: none

build: pre-commit を requirements-dev.txt に明記する
  CONTRIBUTING.md
  README.md
  backend/requirements-dev.txt
  docs/tech-stack.md
Due: python

docs: Phase 2 の計画書を完了につき破棄する (Phase 2 / フェーズ末) (#94)
  docs/plans/2026-08-29-architecture-remediation.md
  docs/plans/2026-09-02-phase2-backend-tasks.md
Due: none

Path conditions:
  flutter: any of: frontend/, but not: frontend/kotonoha_app/lib/**/*.g.dart, frontend/kotonoha_app/lib/**/*.freezed.dart, frontend/kotonoha_app/lib/gen/**, frontend/kotonoha_app/test/**, frontend/kotonoha_app/integration_test/**, backend/tests/**, backend/alembic/**, infra/**
  python: any of: backend/, but not: frontend/kotonoha_app/lib/**/*.g.dart, frontend/kotonoha_app/lib/**/*.freezed.dart, frontend/kotonoha_app/lib/gen/**, frontend/kotonoha_app/test/**, frontend/kotonoha_app/integration_test/**, backend/tests/**, backend/alembic/**, infra/**
