Repository mozuq-lab/kotonoha: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, python

codecov.yml:

# Codecov configuration for kotonoha project
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        # Target coverage: 80% overall
        target: 80%
        threshold: 2%
        # Don't fail until we reach the target
        informational: false

      flutter:
        paths:
          - "frontend/**"
        target: 80%
        threshold: 2%
        informational: false

      python:
        paths:
          - "backend/**"
        # Python backend target: 90% (business logic & API endpoints)
        target: 90%
        threshold: 2%
        informational: false

    patch:
      default:
        # New code should be at least 80% covered
        target: 80%
        threshold: 5%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

flags:
  flutter:
    paths:
      - frontend/
    carryforward: true
    after_n_builds: 1

  python:
    paths:
      - backend/
    carryforward: true
    after_n_builds: 1

ignore:
  # Generated files
  - "frontend/kotonoha_app/lib/**/*.g.dart"
  - "frontend/kotonoha_app/lib/**/*.freezed.dart"
  - "frontend/kotonoha_app/lib/gen/**"
  # Test files (don't count test coverage of tests)
  - "frontend/kotonoha_app/test/**"
  - "frontend/kotonoha_app/integration_test/**"
  - "backend/tests/**"
  # Configuration files
  - "backend/alembic/**"
  - "infra/**"

chore: integrationのテスト・mocksのテストを整理（63/68）
  frontend/kotonoha_app/test/integration/performance_optimization_test.dart
  frontend/kotonoha_app/test/integration/phase4/phase4_integration_test.dart
  frontend/kotonoha_app/test/integration/tts_speed_integration_test.dart
  frontend/kotonoha_app/test/integration/tts_stop_integration_test.dart
  frontend/kotonoha_app/test/mocks/mock_audio_player.dart
  frontend/kotonoha_app/test/mocks/mock_emergency_audio_service.dart
  frontend/kotonoha_app/test/mocks/mock_flutter_tts.dart
Due: none

chore: mocksのテスト・performanceのテストほかを整理（64/68）
  frontend/kotonoha_app/test/mocks/mock_volume_controller.dart
  frontend/kotonoha_app/test/mocks/mocks.dart
  frontend/kotonoha_app/test/performance/data_load_performance_test.dart
  frontend/kotonoha_app/test/shared/models/favorite_item_test.dart
  frontend/kotonoha_app/test/shared/models/history_item_adapter_backward_compat_test.dart
  frontend/kotonoha_app/test/shared/models/history_item_test.dart
  frontend/kotonoha_app/test/shared/models/preset_phrase_adapter_backward_compat_test.dart
Due: none

chore: sharedのテストを整理（65/68）
  frontend/kotonoha_app/test/shared/models/preset_phrase_test.dart
  frontend/kotonoha_app/test/shared/providers/app_providers_test.dart
  frontend/kotonoha_app/test/shared/state_copy_with_error_test.dart
  frontend/kotonoha_app/test/shared/widgets/emergency_button_test.dart
Due: none

chore: sharedのテストを整理（66/68）
  frontend/kotonoha_app/test/shared/widgets/large_button_test.dart
  frontend/kotonoha_app/test/shared/widgets/send_to_input_button_test.dart
Due: none

chore: sharedのテスト・supportのテストほかを整理（67/68）
  frontend/kotonoha_app/test/shared/widgets/text_input_field_test.dart
  frontend/kotonoha_app/test/support/contrast_helpers.dart
  frontend/kotonoha_app/test/widget_test.dart
  frontend/kotonoha_app/test/widgets/character_board_optimization_test.dart
Due: none

chore: 統合テスト・ビルド設定を整理（68/68）
  frontend/kotonoha_app/test_driver/integration_test.dart
  frontend/kotonoha_app/web/index.html
  scripts/build-android.sh
  scripts/build-ios.sh
Due: flutter

docs: 統合テストの実行例でオプション記法を保持
  frontend/kotonoha_app/test_driver/integration_test.dart
Due: flutter

chore: 残作業索引を台帳へ移して破棄し、openspec/ を追跡から外す
  .claude/skills/inventory/SKILL.md
  .gitignore
  AGENTS.md
  docs/ledger.md
  docs/plans/2026-09-02-remaining-work.md
  openspec/config.yaml
Due: none

chore: openspec-guard.yml を削除（openspec/ の追跡解除で役目を終えた検査）
  .github/workflows/openspec-guard.yml
  README.md
Due: none

chore: 残作業索引を台帳へ移して破棄し、openspec/ を追跡から外す (#119)
  .claude/skills/inventory/SKILL.md
  .github/workflows/openspec-guard.yml
  .gitignore
  AGENTS.md
  README.md
  docs/ledger.md
  docs/plans/2026-09-02-remaining-work.md
  openspec/config.yaml
Due: none

fix: backend の既知の脆弱性 11 件を依存の版上げで解消し、pip-audit を止める検査にする
  .github/workflows/python.yml
  backend/requirements.txt
Due: python

ci: Web のリリースビルドから AI_API_KEY を外す（Web は AI 変換なし）
  .github/workflows/flutter.yml
Due: none

docs: OS のバックアップは妨げないと決め、Android の除外規則を撤回する（NFR-106）
  docs/adr/ADR-009-crash-reporting-store-native.md
  docs/ledger.md
  docs/privacy-policy.md
  docs/spec/kotonoha-requirements.md
  frontend/kotonoha_app/android/app/src/main/AndroidManifest.xml
  frontend/kotonoha_app/android/app/src/main/res/xml/backup_rules.xml
  frontend/kotonoha_app/android/app/src/main/res/xml/data_extraction_rules.xml
Due: flutter

docs: ADR の枠組みを改訂する（索引の分割、卒業の入口と取り消し、8 行為、棚卸し観点 6）
  .claude/skills/inventory/SKILL.md
  AGENTS.md
  README.md
  docs/adr/ADR-007-release-criteria.md
  docs/adr/ADR-010-document-framework.md
  docs/adr/README.md
  docs/ledger.md
  scripts/adr-touch.sh
  scripts/inventory.sh
Due: none

fix: backend の既知の脆弱性 11 件を依存の版上げで解消し、pip-audit を止める検査にする (#120)
  .github/workflows/python.yml
  backend/requirements.txt
Due: python

ci: Web のリリースビルドから AI_API_KEY を外す（Web は AI 変換なし） (#121)
  .github/workflows/flutter.yml
Due: none

docs: OS のバックアップは妨げないと決め、Android の除外規則を撤回する（NFR-106） (#122)
  docs/adr/ADR-009-crash-reporting-store-native.md
  docs/ledger.md
  docs/privacy-policy.md
  docs/spec/kotonoha-requirements.md
  frontend/kotonoha_app/android/app/src/main/AndroidManifest.xml
  frontend/kotonoha_app/android/app/src/main/res/xml/backup_rules.xml
  frontend/kotonoha_app/android/app/src/main/res/xml/data_extraction_rules.xml
Due: flutter

docs: ADR の枠組みを改訂する（索引の分割、卒業の入口と取り消し、8 行為、棚卸し観点 6） (#123)
  .claude/skills/inventory/SKILL.md
  AGENTS.md
  README.md
  docs/adr/ADR-007-release-criteria.md
  docs/adr/ADR-010-document-framework.md
  docs/adr/README.md
  docs/ledger.md
  scripts/adr-touch.sh
  scripts/inventory.sh
Due: none

docs: 規律 9 を独立監査の規則に書き換え、Stop フックを廃棄する
  .claude/hooks/activity-value-check.sh
  .claude/settings.json
  .claude/skills/inventory/SKILL.md
  .github/workflows/inventory-reminder.yml
  AGENTS.md
  docs/ledger.md
  scripts/adr-touch.sh
  scripts/inventory.sh
Due: none

docs: 規律 9 を独立監査の規則に書き換え、Stop フックを廃棄する (#124)
  .claude/hooks/activity-value-check.sh
  .claude/settings.json
  .claude/skills/inventory/SKILL.md
  .github/workflows/inventory-reminder.yml
  AGENTS.md
  docs/ledger.md
  scripts/adr-touch.sh
  scripts/inventory.sh
Due: none

fix: 定型文を削除してもお気に入りは残す（ADR-005 改訂、L-39）
  docs/adr/ADR-005-frontend-single-truth.md
  docs/ledger.md
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/preset_phrase_screen.dart
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/widgets/phrase_delete_dialog.dart
  frontend/kotonoha_app/lib/features/preset_phrase/providers/preset_phrase_notifier.dart
  frontend/kotonoha_app/test/features/favorite_sync/favorite_sync_test.dart
  frontend/kotonoha_app/test/features/preset_phrase/presentation/widgets/phrase_delete_dialog_test.dart
Due: flutter

fix: レビューと独立監査の指摘を反映（実 box の往復テスト、ADR-005 の限界、台帳 L-83/L-99/L-100、EDGE-003 の印）
  AGENTS.md
  docs/adr/ADR-005-frontend-single-truth.md
  docs/ledger.md
  docs/spec/kotonoha-requirements.md
  frontend/kotonoha_app/lib/features/preset_phrase/providers/preset_phrase_notifier.dart
  frontend/kotonoha_app/test/features/favorite/favorite_round_trip_test.dart
  frontend/kotonoha_app/test/features/favorite_sync/favorite_sync_test.dart
  frontend/kotonoha_app/test/features/preset_phrase/presentation/widgets/phrase_delete_dialog_test.dart
Due: flutter

fix: 定型文を削除してもお気に入りは残す（ADR-005 改訂、L-39） (#125)
  AGENTS.md
  docs/adr/ADR-005-frontend-single-truth.md
  docs/ledger.md
  docs/spec/kotonoha-requirements.md
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/preset_phrase_screen.dart
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/widgets/phrase_delete_dialog.dart
  frontend/kotonoha_app/lib/features/preset_phrase/providers/preset_phrase_notifier.dart
  frontend/kotonoha_app/test/features/favorite/favorite_round_trip_test.dart
  frontend/kotonoha_app/test/features/favorite_sync/favorite_sync_test.dart
  frontend/kotonoha_app/test/features/preset_phrase/presentation/widgets/phrase_delete_dialog_test.dart
Due: flutter

test: 領域の対応テストに favorites を足し、import 順と FAQ の更新日を直す（#126 再レビュー Minor）
  docs/user-guide/faq.md
  frontend/kotonoha_app/test/core/persistence/persistence_state_provider_test.dart
  frontend/kotonoha_app/test/core/utils/hive_init_areas_test.dart
  frontend/kotonoha_app/test/core/utils/hive_init_corruption_test.dart
Due: none

fix: 作り直しの告知を支援技術から閉じられるようにし、box と領域の対応を実 box で固定する（#126 レビュー反映）
  docs/adr/ADR-005-frontend-single-truth.md
  docs/ledger.md
  docs/user-guide/faq.md
  frontend/kotonoha_app/integration_test/helpers/test_helpers.dart
  frontend/kotonoha_app/lib/core/persistence/persistence_state.dart
  frontend/kotonoha_app/lib/core/utils/hive_init.dart
  frontend/kotonoha_app/lib/core/widgets/persistence_banner.dart
  frontend/kotonoha_app/test/core/utils/hive_init_areas_test.dart
  frontend/kotonoha_app/test/core/utils/hive_init_corruption_test.dart
  frontend/kotonoha_app/test/core/utils/hive_open_leak_guard.dart
  frontend/kotonoha_app/test/core/widgets/persistence_banner_test.dart
Due: flutter

feat: Hive の破損で空に作り直したことを利用者に伝える（ADR-005、L-90）
  docs/ledger.md
  frontend/kotonoha_app/lib/core/persistence/persistence_state.dart
  frontend/kotonoha_app/lib/core/persistence/persistence_state_provider.dart
  frontend/kotonoha_app/lib/core/persistence/recreated_areas_provider.dart
  frontend/kotonoha_app/lib/core/utils/hive_init.dart
  frontend/kotonoha_app/lib/core/widgets/persistence_banner.dart
  frontend/kotonoha_app/lib/main.dart
  frontend/kotonoha_app/test/core/persistence/persistence_state_provider_test.dart
  frontend/kotonoha_app/test/core/persistence/persistence_state_test.dart
  frontend/kotonoha_app/test/core/utils/hive_init_corruption_test.dart
  frontend/kotonoha_app/test/core/widgets/persistence_banner_test.dart
Due: flutter

feat: Hive の破損で空に作り直したことを利用者に伝える（ADR-005、L-90） (#126)
  docs/adr/ADR-005-frontend-single-truth.md
  docs/ledger.md
  docs/user-guide/faq.md
  frontend/kotonoha_app/integration_test/helpers/test_helpers.dart
  frontend/kotonoha_app/lib/core/persistence/persistence_state.dart
  frontend/kotonoha_app/lib/core/persistence/persistence_state_provider.dart
  frontend/kotonoha_app/lib/core/persistence/recreated_areas_provider.dart
  frontend/kotonoha_app/lib/core/utils/hive_init.dart
  frontend/kotonoha_app/lib/core/widgets/persistence_banner.dart
  frontend/kotonoha_app/lib/main.dart
  frontend/kotonoha_app/test/core/persistence/persistence_state_provider_test.dart
  frontend/kotonoha_app/test/core/persistence/persistence_state_test.dart
  frontend/kotonoha_app/test/core/utils/hive_init_areas_test.dart
  frontend/kotonoha_app/test/core/utils/hive_init_corruption_test.dart
  frontend/kotonoha_app/test/core/utils/hive_open_leak_guard.dart
  frontend/kotonoha_app/test/core/widgets/persistence_banner_test.dart
Due: flutter

feat: 設定の保存失敗を利用者に伝える（ADR-005、L-83）
  docs/ledger.md
  frontend/kotonoha_app/lib/core/persistence/settings_write_failure_provider.dart
  frontend/kotonoha_app/lib/core/widgets/persistence_banner.dart
  frontend/kotonoha_app/lib/features/settings/providers/settings_provider.dart
  frontend/kotonoha_app/pubspec.lock
  frontend/kotonoha_app/pubspec.yaml
  frontend/kotonoha_app/test/core/widgets/persistence_banner_test.dart
  frontend/kotonoha_app/test/features/settings/providers/settings_write_failure_test.dart
Due: flutter

fix: 設定の保存失敗を漏らさず報告し、作り直しの告知と両立させる（#127 レビュー反映）
  docs/adr/ADR-005-frontend-single-truth.md
  docs/ledger.md
  docs/user-guide/troubleshooting.md
  frontend/kotonoha_app/lib/core/persistence/settings_write_failure_provider.dart
  frontend/kotonoha_app/lib/core/widgets/persistence_banner.dart
  frontend/kotonoha_app/lib/features/settings/providers/settings_provider.dart
  frontend/kotonoha_app/test/core/widgets/persistence_banner_test.dart
  frontend/kotonoha_app/test/features/settings/providers/settings_write_failure_test.dart
Due: flutter

docs: troubleshooting の段落を節の中に置き直す（#127 再レビュー Minor）
  docs/user-guide/troubleshooting.md
Due: none

feat: 設定の保存失敗を利用者に伝える（ADR-005、L-83） (#127)
  docs/adr/ADR-005-frontend-single-truth.md
  docs/ledger.md
  docs/user-guide/troubleshooting.md
  frontend/kotonoha_app/lib/core/persistence/settings_write_failure_provider.dart
  frontend/kotonoha_app/lib/core/widgets/persistence_banner.dart
  frontend/kotonoha_app/lib/features/settings/providers/settings_provider.dart
  frontend/kotonoha_app/pubspec.lock
  frontend/kotonoha_app/pubspec.yaml
  frontend/kotonoha_app/test/core/widgets/persistence_banner_test.dart
  frontend/kotonoha_app/test/features/settings/providers/settings_write_failure_test.dart
Due: flutter

docs: ADR-005 を原則と却下案に絞り、台帳の出口を棚卸しに付け替え、adr-touch の表を 6 列に揃える
  .claude/skills/inventory/SKILL.md
  .github/workflows/adr-touch.yml
  docs/adr/ADR-005-frontend-single-truth.md
  docs/adr/ADR-010-document-framework.md
  docs/ledger.md
  docs/spec/kotonoha-requirements.md
  scripts/adr-touch.sh
Due: none

docs: 独立レビューの Minor 5 件を反映（ADR-005 から落ちた理由づけ 4 句を戻し、L-99 に回避手段を足す）
  docs/adr/ADR-005-frontend-single-truth.md
  docs/ledger.md
Due: none

docs: ADR を触る差分に粒度の問いを足し（規律 7）、ADR-005 の肥大化を観点 6 の材料として台帳に残す（L-106）
  AGENTS.md
  docs/ledger.md
Due: none

docs: ADR-005 を原則と却下案に絞り、台帳の出口を棚卸しに付け替え、adr-touch の表を 6 列に揃える (#128)
  .claude/skills/inventory/SKILL.md
  .github/workflows/adr-touch.yml
  AGENTS.md
  docs/adr/ADR-005-frontend-single-truth.md
  docs/adr/ADR-010-document-framework.md
  docs/ledger.md
  docs/spec/kotonoha-requirements.md
  scripts/adr-touch.sh
Due: none

ci: adr-touch の PR コメント workflow を外し、スクリプトは着手前の手元用（層 1）に置き直す
  .claude/skills/inventory/SKILL.md
  .github/workflows/adr-touch.yml
  AGENTS.md
  README.md
  docs/adr/ADR-002-rate-limit-single-instance.md
  docs/adr/ADR-005-frontend-single-truth.md
  docs/adr/ADR-007-release-criteria.md
  docs/adr/ADR-009-crash-reporting-store-native.md
  docs/adr/ADR-010-document-framework.md
  docs/adr/README.md
  scripts/adr-touch.sh
Due: none

docs: ADR-010 の限界節と再訪条件に残っていた旧定義の「層 2」をパス照合に書き直す（#129 独立レビュー Major）
  docs/adr/ADR-010-document-framework.md
Due: none

ci: adr-touch の PR コメント workflow を外し、スクリプトは着手前の手元用に置き直す (#129)
  .claude/skills/inventory/SKILL.md
  .github/workflows/adr-touch.yml
  AGENTS.md
  README.md
  docs/adr/ADR-002-rate-limit-single-instance.md
  docs/adr/ADR-005-frontend-single-truth.md
  docs/adr/ADR-007-release-criteria.md
  docs/adr/ADR-009-crash-reporting-store-native.md
  docs/adr/ADR-010-document-framework.md
  docs/adr/README.md
  scripts/adr-touch.sh
Due: none

docs: scripts/adr-touch.sh を消し、規律 4 を人が両方の索引を読んで書く工程にする
  .claude/skills/inventory/SKILL.md
  AGENTS.md
  README.md
  docs/adr/ADR-002-rate-limit-single-instance.md
  docs/adr/ADR-005-frontend-single-truth.md
  docs/adr/ADR-007-release-criteria.md
  docs/adr/ADR-009-crash-reporting-store-native.md
  docs/adr/ADR-010-document-framework.md
  docs/adr/README.md
  scripts/adr-touch.sh
Due: none
