Repository mozuq-lab/kotonoha: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, python

codecov.yml:

# Codecov configuration for kotonoha project
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        # Target coverage: 80% overall
        target: 80%
        threshold: 2%
        # Don't fail until we reach the target
        informational: false

      flutter:
        paths:
          - "frontend/**"
        target: 80%
        threshold: 2%
        informational: false

      python:
        paths:
          - "backend/**"
        # Python backend target: 90% (business logic & API endpoints)
        target: 90%
        threshold: 2%
        informational: false

    patch:
      default:
        # New code should be at least 80% covered
        target: 80%
        threshold: 5%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

flags:
  flutter:
    paths:
      - frontend/
    carryforward: true
    after_n_builds: 1

  python:
    paths:
      - backend/
    carryforward: true
    after_n_builds: 1

ignore:
  # Generated files
  - "frontend/kotonoha_app/lib/**/*.g.dart"
  - "frontend/kotonoha_app/lib/**/*.freezed.dart"
  - "frontend/kotonoha_app/lib/gen/**"
  # Test files (don't count test coverage of tests)
  - "frontend/kotonoha_app/test/**"
  - "frontend/kotonoha_app/integration_test/**"
  - "backend/tests/**"
  # Configuration files
  - "backend/alembic/**"
  - "infra/**"

修正: 履歴・お気に入り・定型文のHive永続化を配線（再起動でのデータ消失を解消） (#73)
  frontend/kotonoha_app/lib/features/favorite/data/favorite_repository.dart
  frontend/kotonoha_app/lib/features/favorite/providers/favorite_provider.dart
  frontend/kotonoha_app/lib/features/history/data/history_repository.dart
  frontend/kotonoha_app/lib/features/history/providers/history_provider.dart
  frontend/kotonoha_app/lib/features/preset_phrase/data/preset_phrase_repository.dart
  frontend/kotonoha_app/lib/features/preset_phrase/providers/preset_phrase_notifier.dart
  frontend/kotonoha_app/lib/shared/models/favorite_item.dart
  frontend/kotonoha_app/lib/shared/models/favorite_item_adapter.dart
  frontend/kotonoha_app/lib/shared/providers/repository_providers.dart
  frontend/kotonoha_app/test/features/data_persistence/persistence_wiring_test.dart
Due: flutter

fix: 履歴・お気に入り・定型文のHive永続化を配線（再起動でのデータ消失を解消） (#73)
  frontend/kotonoha_app/lib/features/favorite/data/favorite_repository.dart
  frontend/kotonoha_app/lib/features/favorite/providers/favorite_provider.dart
  frontend/kotonoha_app/lib/features/history/data/history_repository.dart
  frontend/kotonoha_app/lib/features/history/providers/history_provider.dart
  frontend/kotonoha_app/lib/features/preset_phrase/data/preset_phrase_repository.dart
  frontend/kotonoha_app/lib/features/preset_phrase/providers/preset_phrase_notifier.dart
  frontend/kotonoha_app/lib/shared/models/favorite_item.dart
  frontend/kotonoha_app/lib/shared/models/favorite_item_adapter.dart
  frontend/kotonoha_app/lib/shared/providers/repository_providers.dart
  frontend/kotonoha_app/test/features/data_persistence/persistence_wiring_test.dart
Due: flutter

fix: ネットワーク監視の起動と緊急機能の全画面配線（ShellRoute導入） (#74)
  frontend/kotonoha_app/lib/core/router/app_router.dart
  frontend/kotonoha_app/lib/core/widgets/app_shell.dart
  frontend/kotonoha_app/test/core/router/app_router_test.dart
  frontend/kotonoha_app/test/core/widgets/app_shell_network_test.dart
  frontend/kotonoha_app/test/features/emergency/emergency_shell_wiring_test.dart
Due: flutter

修正: ネットワーク監視の起動と緊急機能の全画面配線（ShellRoute導入） (#74)
  frontend/kotonoha_app/lib/core/router/app_router.dart
  frontend/kotonoha_app/lib/core/widgets/app_shell.dart
  frontend/kotonoha_app/test/core/router/app_router_test.dart
  frontend/kotonoha_app/test/core/widgets/app_shell_network_test.dart
  frontend/kotonoha_app/test/features/emergency/emergency_shell_wiring_test.dart
Due: flutter

Fix AI conversion review findings (TASK-0102)
  .env.example
  .github/workflows/flutter.yml
  .github/workflows/release.yml
  backend/.env.example
  backend/app/api/v1/endpoints/ai.py
  backend/app/core/config.py
  backend/app/models/ai_conversion_history.py
  backend/app/utils/ai_client.py
  docker-compose.yml
  frontend/kotonoha_app/lib/features/ai_conversion/data/api/ai_conversion_api_client.dart
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_button.dart
  frontend/kotonoha_app/lib/features/ai_conversion/providers/ai_conversion_provider.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/settings/models/app_settings.dart
  frontend/kotonoha_app/lib/features/settings/providers/settings_provider.dart
  scripts/build-android.sh
  scripts/build-ios.sh
  scripts/build-web.sh
Due: flutter, python

Use regenerate endpoint from AI result dialog (TASK-0102)
  README.md
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
Due: flutter

Add repository agent guide (TASK-0102)
  AGENTS.md
Due: none

fix: AI変換のレビュー指摘を修正 (#75)
  .env.example
  .github/workflows/flutter.yml
  .github/workflows/release.yml
  AGENTS.md
  README.md
  backend/.env.example
  backend/app/api/v1/endpoints/ai.py
  backend/app/core/config.py
  backend/app/models/ai_conversion_history.py
  backend/app/utils/ai_client.py
  docker-compose.yml
  frontend/kotonoha_app/lib/features/ai_conversion/data/api/ai_conversion_api_client.dart
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_button.dart
  frontend/kotonoha_app/lib/features/ai_conversion/providers/ai_conversion_provider.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/settings/models/app_settings.dart
  frontend/kotonoha_app/lib/features/settings/providers/settings_provider.dart
  scripts/build-android.sh
  scripts/build-ios.sh
  scripts/build-web.sh
Due: flutter, python

AI変換のレビュー指摘を修正 (#75)
  .env.example
  .github/workflows/flutter.yml
  .github/workflows/release.yml
  AGENTS.md
  README.md
  backend/.env.example
  backend/app/api/v1/endpoints/ai.py
  backend/app/core/config.py
  backend/app/models/ai_conversion_history.py
  backend/app/utils/ai_client.py
  docker-compose.yml
  frontend/kotonoha_app/lib/features/ai_conversion/data/api/ai_conversion_api_client.dart
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_button.dart
  frontend/kotonoha_app/lib/features/ai_conversion/providers/ai_conversion_provider.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/settings/models/app_settings.dart
  frontend/kotonoha_app/lib/features/settings/providers/settings_provider.dart
  scripts/build-android.sh
  scripts/build-ios.sh
  scripts/build-web.sh
Due: flutter, python

Harden AI client: typed SDK exceptions, content validation, httpx close
  backend/app/main.py
  backend/app/utils/ai_client.py
  backend/tests/test_ai_client_robustness.py
Due: python

Fix DB consistency: enum case, server_default, index, autogenerate hygiene
  backend/alembic/env.py
  backend/alembic/versions/ac3a7c362e68_create_ai_conversion_history_table_with_.py
  backend/alembic/versions/c1a2b3d4e5f6_lowercase_politeness_level_enum.py
  backend/app/models/ai_conversion_history.py
  backend/app/models/ai_conversion_logs.py
  backend/app/models/error_logs.py
  backend/tests/test_db_schema_consistency.py
Due: python

Fix history per-item speaking indicator and provider lifecycle leaks
  frontend/kotonoha_app/lib/features/ai_conversion/providers/ai_conversion_provider.dart
  frontend/kotonoha_app/lib/features/history/presentation/history_screen.dart
  frontend/kotonoha_app/lib/features/network/providers/network_provider.dart
  frontend/kotonoha_app/lib/features/tts/providers/tts_provider.dart
  frontend/kotonoha_app/test/features/history/presentation/history_actions_test.dart
Due: flutter

Improve accessibility: contrast (WCAG AA), tap targets, tap reorder, liveRegion
  frontend/kotonoha_app/lib/core/constants/app_colors.dart
  frontend/kotonoha_app/lib/core/themes/dark_theme.dart
  frontend/kotonoha_app/lib/core/themes/high_contrast_theme.dart
  frontend/kotonoha_app/lib/core/themes/light_theme.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/favorites/presentation/favorites_screen.dart
  frontend/kotonoha_app/lib/features/network/presentation/widgets/offline_banner.dart
  frontend/kotonoha_app/lib/features/network/presentation/widgets/online_recovery_notification.dart
  frontend/kotonoha_app/lib/features/quick_response/presentation/widgets/quick_response_button.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/ai_politeness_settings_widget.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/font_size_settings_widget.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/theme_settings_widget.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/tts_speed_settings_widget.dart
  frontend/kotonoha_app/lib/features/status_buttons/presentation/widgets/status_button.dart
  frontend/kotonoha_app/lib/features/status_buttons/presentation/widgets/status_buttons.dart
  frontend/kotonoha_app/test/core/themes/light_theme_test.dart
  frontend/kotonoha_app/test/core/themes/theme_accessibility_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_test.dart
  frontend/kotonoha_app/test/features/favorites/presentation/favorites_reorder_test.dart
  frontend/kotonoha_app/test/features/settings/presentation/widgets/ai_politeness_settings_widget_test.dart
Due: flutter

Fix flaky AI conversion provider test (await in-flight convert)
  frontend/kotonoha_app/test/features/ai_conversion/providers/ai_conversion_provider_test.dart
Due: none

改善: AIクライアントの堅牢化（型付き例外・レスポンス検証・httpxクローズ） (#76)
  backend/app/main.py
  backend/app/utils/ai_client.py
  backend/tests/test_ai_client_robustness.py
Due: python

refactor: AIクライアントの堅牢化（型付き例外・レスポンス検証・httpxクローズ） (#76)
  backend/app/main.py
  backend/app/utils/ai_client.py
  backend/tests/test_ai_client_robustness.py
Due: python

refactor: DBスキーマ整合性（enum大小文字統一・server_default・index・autogenerate健全化） (#77)
  backend/alembic/env.py
  backend/alembic/versions/ac3a7c362e68_create_ai_conversion_history_table_with_.py
  backend/alembic/versions/c1a2b3d4e5f6_lowercase_politeness_level_enum.py
  backend/app/models/ai_conversion_history.py
  backend/app/models/ai_conversion_logs.py
  backend/app/models/error_logs.py
  backend/tests/test_db_schema_consistency.py
Due: python

改善: DBスキーマ整合性（enum大小文字統一・server_default・index・autogenerate健全化） (#77)
  backend/alembic/env.py
  backend/alembic/versions/ac3a7c362e68_create_ai_conversion_history_table_with_.py
  backend/alembic/versions/c1a2b3d4e5f6_lowercase_politeness_level_enum.py
  backend/app/models/ai_conversion_history.py
  backend/app/models/ai_conversion_logs.py
  backend/app/models/error_logs.py
  backend/tests/test_db_schema_consistency.py
Due: python

fix: 履歴の読み上げ中表示(per-item)とProviderのリソースリーク(ref.onDispose) (#78)
  frontend/kotonoha_app/lib/features/ai_conversion/providers/ai_conversion_provider.dart
  frontend/kotonoha_app/lib/features/history/presentation/history_screen.dart
  frontend/kotonoha_app/lib/features/network/providers/network_provider.dart
  frontend/kotonoha_app/lib/features/tts/providers/tts_provider.dart
  frontend/kotonoha_app/test/features/ai_conversion/providers/ai_conversion_provider_test.dart
  frontend/kotonoha_app/test/features/history/presentation/history_actions_test.dart
Due: flutter

修正: 履歴の読み上げ中表示(per-item)とProviderのリソースリーク(ref.onDispose) (#78)
  frontend/kotonoha_app/lib/features/ai_conversion/providers/ai_conversion_provider.dart
  frontend/kotonoha_app/lib/features/history/presentation/history_screen.dart
  frontend/kotonoha_app/lib/features/network/providers/network_provider.dart
  frontend/kotonoha_app/lib/features/tts/providers/tts_provider.dart
  frontend/kotonoha_app/test/features/ai_conversion/providers/ai_conversion_provider_test.dart
  frontend/kotonoha_app/test/features/history/presentation/history_actions_test.dart
Due: flutter

Fix TTS speed non-selected button text contrast (WCAG AA)
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/tts_speed_settings_widget.dart
  frontend/kotonoha_app/test/features/settings/presentation/widgets/tts_speed_settings_widget_test.dart
Due: flutter

feat: アクセシビリティ（コントラストAA・タップ44px・並べ替えタップ代替・liveRegion） (#79)
  frontend/kotonoha_app/lib/core/constants/app_colors.dart
  frontend/kotonoha_app/lib/core/themes/dark_theme.dart
  frontend/kotonoha_app/lib/core/themes/high_contrast_theme.dart
  frontend/kotonoha_app/lib/core/themes/light_theme.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/favorites/presentation/favorites_screen.dart
  frontend/kotonoha_app/lib/features/network/presentation/widgets/offline_banner.dart
  frontend/kotonoha_app/lib/features/network/presentation/widgets/online_recovery_notification.dart
  frontend/kotonoha_app/lib/features/quick_response/presentation/widgets/quick_response_button.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/ai_politeness_settings_widget.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/font_size_settings_widget.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/theme_settings_widget.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/tts_speed_settings_widget.dart
  frontend/kotonoha_app/lib/features/status_buttons/presentation/widgets/status_button.dart
  frontend/kotonoha_app/lib/features/status_buttons/presentation/widgets/status_buttons.dart
  frontend/kotonoha_app/test/core/themes/light_theme_test.dart
  frontend/kotonoha_app/test/core/themes/theme_accessibility_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_test.dart
  frontend/kotonoha_app/test/features/favorites/presentation/favorites_reorder_test.dart
  frontend/kotonoha_app/test/features/settings/presentation/widgets/ai_politeness_settings_widget_test.dart
  frontend/kotonoha_app/test/features/settings/presentation/widgets/tts_speed_settings_widget_test.dart
Due: flutter

改善: アクセシビリティ（コントラストAA・タップ44px・並べ替えタップ代替・liveRegion） (#79)
  frontend/kotonoha_app/lib/core/constants/app_colors.dart
  frontend/kotonoha_app/lib/core/themes/dark_theme.dart
  frontend/kotonoha_app/lib/core/themes/high_contrast_theme.dart
  frontend/kotonoha_app/lib/core/themes/light_theme.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/favorites/presentation/favorites_screen.dart
  frontend/kotonoha_app/lib/features/network/presentation/widgets/offline_banner.dart
  frontend/kotonoha_app/lib/features/network/presentation/widgets/online_recovery_notification.dart
  frontend/kotonoha_app/lib/features/quick_response/presentation/widgets/quick_response_button.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/ai_politeness_settings_widget.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/font_size_settings_widget.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/theme_settings_widget.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/tts_speed_settings_widget.dart
  frontend/kotonoha_app/lib/features/status_buttons/presentation/widgets/status_button.dart
  frontend/kotonoha_app/lib/features/status_buttons/presentation/widgets/status_buttons.dart
  frontend/kotonoha_app/test/core/themes/light_theme_test.dart
  frontend/kotonoha_app/test/core/themes/theme_accessibility_test.dart
  frontend/kotonoha_app/test/features/character_board/presentation/home_screen_test.dart
  frontend/kotonoha_app/test/features/favorites/presentation/favorites_reorder_test.dart
  frontend/kotonoha_app/test/features/settings/presentation/widgets/ai_politeness_settings_widget_test.dart
  frontend/kotonoha_app/test/features/settings/presentation/widgets/tts_speed_settings_widget_test.dart
Due: flutter

fix(docker): 脆弱なデフォルトシークレットと空のネストツリーを削除 (review #2, #6)
  docker-compose.yml
Due: none

fix(security): X-Forwarded-Forを信頼プロキシ経由のみ採用 (review #3)
  .env.example
  backend/.env.example
  backend/app/core/config.py
  backend/app/core/rate_limit.py
  backend/tests/test_api/test_rate_limit.py
Due: python

fix(ai): プロバイダ例外をSDK公式型で分類しリトライ追加・モデルID設定化 (review #4, #12)
  .env.example
  backend/.env.example
  backend/app/core/config.py
  backend/app/utils/ai_client.py
  backend/tests/test_ai_client.py
Due: python

fix(ai): リトライ枯渇テスト追加・無意味なexcept削除・リトライガード (review #4 follow-up)
  backend/app/utils/ai_client.py
  backend/tests/test_ai_client.py
Due: python

fix(backend): healthヘルパー重複解消・commitをセッション層へ委譲・Dockerfile明記 (review #6, #7)
  backend/app/crud/crud_ai_conversion.py
  backend/app/main.py
  backend/tests/test_db_connection.py
  docker-compose.yml
Due: python

fix(db): ai_conversion_historyを廃止しハッシュ化版ai_conversion_logsに統一 (review #5)
  backend/alembic/versions/f1a2b3c4d5e6_drop_ai_conversion_history.py
  backend/app/crud/__init__.py
  backend/app/crud/crud_ai_conversion.py
  backend/app/db/base.py
  backend/app/db/base_class.py
  backend/app/db/session.py
  backend/app/models/ai_conversion_history.py
  backend/tests/db/test_session.py
  backend/tests/test_error_handling.py
  backend/tests/test_migration_execution.py
  backend/tests/test_migration_integration.py
  backend/tests/test_models.py
Due: python

fix(security): AIエンドポイントにAPIキー認証を要求 (review #1)
  .env.example
  CLAUDE.md
  backend/.env.example
  backend/app/api/deps.py
  backend/app/api/v1/endpoints/ai.py
  backend/app/core/config.py
  backend/tests/conftest.py
  backend/tests/test_api/test_ai_convert.py
  backend/tests/test_api/test_ai_regenerate.py
  backend/tests/test_api/test_integration.py
  backend/tests/test_api/test_rate_limit.py
  backend/tests/test_error_handlers.py
  backend/tests/test_performance.py
Due: python

fix(security): APIキー比較を定数時間化＋503テスト追加 (review #1)
  backend/app/api/deps.py
  backend/tests/test_api/test_ai_convert.py
Due: python

改善: main.py の重複ヘルパー関数を health.py に集約 (review #6-A)
  backend/app/main.py
Due: python

セキュリティ: docker-compose の弱いデフォルトシークレットを fail-fast 化、Dockerfile 用途を明記 (review #2, #6-B)
  docker-compose.yml
Due: none

改善: Claude モデルID を設定化し AI リトライを追加 (review #4, #12)
  .env.example
  backend/.env.example
  backend/app/core/config.py
  backend/app/utils/ai_client.py
  backend/tests/test_ai_client.py
Due: python

修正: ai_conversion_history を廃止しハッシュ化版 ai_conversion_logs に統一 (review #5)
  backend/alembic/versions/e1f2a3b4c5d6_drop_ai_conversion_history.py
  backend/app/crud/__init__.py
  backend/app/crud/crud_ai_conversion.py
  backend/app/db/base.py
  backend/app/db/base_class.py
  backend/app/db/session.py
  backend/app/models/ai_conversion_history.py
  backend/tests/db/test_session.py
  backend/tests/test_db_schema_consistency.py
  backend/tests/test_error_handling.py
  backend/tests/test_migration_execution.py
  backend/tests/test_migration_integration.py
  backend/tests/test_models.py
Due: python

テスト: ハーネスを alembic ベースに変更し alembic_version 検証を有効化
  backend/tests/conftest.py
Due: none

ドキュメント: CLAUDE.md の認証記述を端末APIキー認証の実態に更新 (review #14)
  CLAUDE.md
Due: none

修正: テストハーネスの alembic 接続先を TEST_DATABASE_URL から導出（CI の test_db に対応）
  backend/tests/conftest.py
Due: none

fix: コードレビューP0〜P1の独自差分（モデルID設定化・AIリトライ・history廃止・compose強化・テスト基盤・重複解消） (#81)
  .env.example
  CLAUDE.md
  backend/.env.example
  backend/alembic/versions/e1f2a3b4c5d6_drop_ai_conversion_history.py
  backend/app/core/config.py
  backend/app/crud/__init__.py
  backend/app/crud/crud_ai_conversion.py
  backend/app/db/base.py
  backend/app/db/base_class.py
  backend/app/db/session.py
  backend/app/main.py
  backend/app/models/ai_conversion_history.py
  backend/app/utils/ai_client.py
  backend/tests/conftest.py
  backend/tests/db/test_session.py
  backend/tests/test_ai_client.py
  backend/tests/test_db_schema_consistency.py
  backend/tests/test_error_handling.py
  backend/tests/test_migration_execution.py
  backend/tests/test_migration_integration.py
  backend/tests/test_models.py
  docker-compose.yml
Due: python
