Repository mozuq-lab/kotonoha: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, python

refactor: 記法除去後に dart format を当てる (Phase 5 / Task 7)
  frontend/kotonoha_app/test/core/utils/hive_init_test.dart
  frontend/kotonoha_app/test/features/ai_conversion/presentation/widgets/ai_conversion_button_test.dart
  frontend/kotonoha_app/test/features/ai_conversion/presentation/widgets/ai_conversion_loading_test.dart
  frontend/kotonoha_app/test/features/favorite_sync/favorite_sync_test.dart
  frontend/kotonoha_app/test/features/history/data/history_repository_test.dart
  frontend/kotonoha_app/test/features/preset_phrase/presentation/widgets/phrase_add_dialog_test.dart
  frontend/kotonoha_app/test/features/preset_phrase/presentation/widgets/phrase_delete_dialog_test.dart
  frontend/kotonoha_app/test/features/preset_phrase/presentation/widgets/phrase_edit_dialog_test.dart
  frontend/kotonoha_app/test/features/preset_phrase/presentation/widgets/phrase_list_item_test.dart
  frontend/kotonoha_app/test/features/preset_phrase/presentation/widgets/phrase_list_widget_test.dart
  frontend/kotonoha_app/test/features/preset_phrase/providers/preset_phrase_notifier_test.dart
  frontend/kotonoha_app/test/features/settings/models/app_settings_test.dart
  frontend/kotonoha_app/test/features/settings/presentation/widgets/tts_speed_settings_widget_test.dart
  frontend/kotonoha_app/test/features/settings/providers/settings_provider_test.dart
  frontend/kotonoha_app/test/features/settings/providers/settings_provider_tts_politeness_test.dart
  frontend/kotonoha_app/test/features/settings/providers/settings_provider_tts_speed_test.dart
  frontend/kotonoha_app/test/features/tts/domain/models/tts_speed_test.dart
  frontend/kotonoha_app/test/features/tts/domain/services/tts_service_test.dart
  frontend/kotonoha_app/test/features/tts/presentation/widgets/tts_button_test.dart
  frontend/kotonoha_app/test/features/tts/providers/tts_provider_test.dart
  frontend/kotonoha_app/test/features/tts/providers/volume_warning_provider_test.dart
  frontend/kotonoha_app/test/integration/tts_speed_integration_test.dart
  frontend/kotonoha_app/test/integration/tts_stop_integration_test.dart
  frontend/kotonoha_app/test/shared/models/history_item_test.dart
  frontend/kotonoha_app/test/shared/models/preset_phrase_test.dart
Due: none

docs: ADR-002・005 を 60 行の型に書き直す (Phase 5 / Task 2) (#111)
  AGENTS.md
  docs/adr/ADR-002-rate-limit-single-instance.md
  docs/adr/ADR-005-frontend-single-truth.md
Due: none

docs: ADR-007・009 を 60 行の型に書き直す (Phase 5 / Task 3) (#112)
  docs/adr/ADR-007-release-criteria.md
  docs/adr/ADR-009-crash-reporting-store-native.md
Due: none

docs: README を開発者の正本にする (Phase 5 / Task 4) (#113)
  .github/workflows/python.yml
  .gitignore
  AGENTS.md
  README.md
  docs/archive/CONTRIBUTING.md
  docs/archive/SETUP.md
  docs/archive/tech-stack.md
  docs/spec/kotonoha-requirements.md
  frontend/kotonoha_app/.fvmrc
Due: flutter

docs: Phase 5（文書の作り直しとコード整理）の設計と実装計画を置く (#109)
  docs/plans/2026-09-06-phase5-docs-rewrite.md
Due: none

docs: ADR-010（文書の枠組み）を置き、ADR 5 本を卒業させる (Phase 5 / Task 1) (#110)
  .github/workflows/python.yml
  .gitignore
  AGENTS.md
  README.md
  docs/adr/ADR-002-rate-limit-single-instance.md
  docs/adr/ADR-005-frontend-single-truth.md
  docs/adr/ADR-007-release-criteria.md
  docs/adr/ADR-009-crash-reporting-store-native.md
  docs/adr/ADR-010-document-framework.md
  docs/archive/CONTRIBUTING.md
  docs/archive/SETUP.md
  docs/archive/adr/ADR-001-backend-stateless.md
  docs/archive/adr/ADR-003-errors-are-typed.md
  docs/archive/adr/ADR-004-config-immutable.md
  docs/archive/adr/ADR-006-layer-dependency-enforced.md
  docs/archive/adr/ADR-008-debt-gate-state-comparison.md
  docs/archive/tech-stack.md
  docs/spec/kotonoha-requirements.md
  frontend/kotonoha_app/.fvmrc
Due: flutter

docs: 要件定義を実装と突き合わせ、仕様以外の設計文書・旧仕様・openspec を倉庫へ移す (Phase 5 / Task 5)
  .github/workflows/openspec-guard.yml
  AGENTS.md
  README.md
  docs/adr/ADR-002-rate-limit-single-instance.md
  docs/archive/CHANGELOG.md
  docs/archive/articles/why-redaction-fixes-dont-converge.md
  docs/archive/design/kotonoha/README.md
  docs/archive/design/kotonoha/api-endpoints.md
  docs/archive/design/kotonoha/architecture.md
  docs/archive/design/kotonoha/database-erd.md
  docs/archive/design/kotonoha/database-schema.sql
  docs/archive/design/kotonoha/dataflow.md
  docs/archive/design/kotonoha/interfaces.dart
  docs/archive/frontend/kotonoha_app/README.md
  docs/archive/frontend/kotonoha_app/integration_test/README.md
  docs/archive/frontend/kotonoha_app/lib/core/README.md
  docs/archive/frontend/kotonoha_app/lib/features/README.md
  docs/archive/frontend/kotonoha_app/lib/shared/README.md
  docs/archive/openspec/specs/favorites/spec.md
  docs/archive/openspec/specs/persistence-state/spec.md
  docs/archive/spec/kotonoha-acceptance-criteria.md
  docs/archive/spec/kotonoha-user-stories.md
  docs/archive/spec/mvp-requirements-original.md
  docs/archive/user-guide/index.md
  docs/spec/kotonoha-requirements.md
  openspec/config.yaml
Due: none

docs: 倉庫へ移した記事への参照を verification-principles から付け替える (Phase 5 / Task 5)
  docs/verification-principles.md
Due: none

docs: 台帳の L-04・08・43・53・72 を閉じ、突き合わせで見つかった 2 件を足す (Phase 5 / Task 5)
  docs/ledger.md
Due: none

docs: 要件定義の突き合わせと倉庫移動 (Phase 5 / Task 5) (#114)
  .github/workflows/openspec-guard.yml
  AGENTS.md
  README.md
  docs/adr/ADR-002-rate-limit-single-instance.md
  docs/archive/CHANGELOG.md
  docs/archive/articles/why-redaction-fixes-dont-converge.md
  docs/archive/design/kotonoha/README.md
  docs/archive/design/kotonoha/api-endpoints.md
  docs/archive/design/kotonoha/architecture.md
  docs/archive/design/kotonoha/database-erd.md
  docs/archive/design/kotonoha/database-schema.sql
  docs/archive/design/kotonoha/dataflow.md
  docs/archive/design/kotonoha/interfaces.dart
  docs/archive/frontend/kotonoha_app/README.md
  docs/archive/frontend/kotonoha_app/integration_test/README.md
  docs/archive/frontend/kotonoha_app/lib/core/README.md
  docs/archive/frontend/kotonoha_app/lib/features/README.md
  docs/archive/frontend/kotonoha_app/lib/shared/README.md
  docs/archive/openspec/specs/favorites/spec.md
  docs/archive/openspec/specs/persistence-state/spec.md
  docs/archive/spec/kotonoha-acceptance-criteria.md
  docs/archive/spec/kotonoha-user-stories.md
  docs/archive/spec/mvp-requirements-original.md
  docs/archive/user-guide/index.md
  docs/ledger.md
  docs/spec/kotonoha-requirements.md
  docs/verification-principles.md
  openspec/config.yaml
Due: none

docs: AGENTS.md を白紙から 120 行で書き直し、検証原則の規律 3 本を核へ移して本体を倉庫へ (Phase 5 / Task 6)
  AGENTS.md
  README.md
  backend/tests/test_sinks.py
  docs/adr/ADR-005-frontend-single-truth.md
  docs/adr/ADR-007-release-criteria.md
  docs/adr/ADR-009-crash-reporting-store-native.md
  docs/archive/verification-principles.md
  docs/ledger.md
  frontend/kotonoha_app/analysis_options.yaml
  frontend/kotonoha_app/test/core/persistence/hive_schema_allowlist_test.dart
  frontend/kotonoha_app/test/core/persistence/persistence_failure_notification_test.dart
  frontend/kotonoha_app/test/features/favorite/favorite_round_trip_test.dart
  frontend/kotonoha_app/test/features/settings/settings_round_trip_test.dart
Due: flutter

docs: 台帳 L-71 の解消先に PR 番号を書く (Phase 5 / Task 6)
  docs/ledger.md
Due: none

docs: 核の書き直しで消えた節への参照を規律 8 と NFR-501 に付け替える (Phase 5 / Task 6)
  .github/workflows/python.yml
  docs/adr/ADR-005-frontend-single-truth.md
  docs/adr/ADR-009-crash-reporting-store-native.md
  frontend/kotonoha_app/analysis_options.yaml
  frontend/kotonoha_app/lib/core/persistence/persistence_state.dart
Due: flutter

docs: AGENTS.md を白紙から 120 行で書く (Phase 5 / Task 6) (#116)
  .github/workflows/python.yml
  AGENTS.md
  README.md
  backend/tests/test_sinks.py
  docs/adr/ADR-005-frontend-single-truth.md
  docs/adr/ADR-007-release-criteria.md
  docs/adr/ADR-009-crash-reporting-store-native.md
  docs/archive/verification-principles.md
  docs/ledger.md
  frontend/kotonoha_app/analysis_options.yaml
  frontend/kotonoha_app/lib/core/persistence/persistence_state.dart
  frontend/kotonoha_app/test/core/persistence/hive_schema_allowlist_test.dart
  frontend/kotonoha_app/test/core/persistence/persistence_failure_notification_test.dart
  frontend/kotonoha_app/test/features/favorite/favorite_round_trip_test.dart
  frontend/kotonoha_app/test/features/settings/settings_round_trip_test.dart
Due: flutter

docs: Phase 5 を閉じる（計画書の破棄、台帳の境界見直し、計測） (Phase 5 / Task 8)
  docs/archive/README.md
  docs/archive/plans/2026-08-29-architecture-remediation.md
  docs/ledger.md
  docs/plans/2026-09-02-remaining-work.md
  docs/plans/2026-09-05-docs-framework-and-inventory.md
  docs/plans/2026-09-06-phase5-docs-rewrite.md
Due: none

docs: Phase 5 のレビュー指摘を直す（台帳の参照切れ、ADR の文言、README） (Phase 5 / Task 8)
  README.md
  docs/adr/ADR-002-rate-limit-single-instance.md
  docs/adr/ADR-005-frontend-single-truth.md
  docs/adr/ADR-010-document-framework.md
  docs/archive/README.md
  docs/ledger.md
  docs/plans/2026-09-02-remaining-work.md
  docs/spec/kotonoha-requirements.md
Due: none

docs: Phase 5 を閉じる (Phase 5 / Task 8) (#117)
  README.md
  docs/adr/ADR-002-rate-limit-single-instance.md
  docs/adr/ADR-005-frontend-single-truth.md
  docs/adr/ADR-010-document-framework.md
  docs/archive/README.md
  docs/archive/plans/2026-08-29-architecture-remediation.md
  docs/ledger.md
  docs/plans/2026-09-02-remaining-work.md
  docs/plans/2026-09-05-docs-framework-and-inventory.md
  docs/plans/2026-09-06-phase5-docs-rewrite.md
  docs/spec/kotonoha-requirements.md
Due: none

chore: ビルド設定・backendを整理（01/68）
  .github/workflows/python.yml
  .gitignore
  backend/app/ai/service.py
  backend/app/auth.py
  backend/app/config.py
  backend/app/errors.py
  backend/app/main.py
  backend/app/ratelimit.py
  backend/app/routes.py
  backend/scripts/gates.sh
  backend/tests/ai/test_providers.py
  backend/tests/ai/test_service.py
Due: python

chore: backend・台帳ほかを整理（02/68）
  backend/tests/conftest.py
  backend/tests/contract/test_auth.py
  backend/tests/contract/test_openapi.py
  backend/tests/contract/test_ratelimit.py
  backend/tests/test_config.py
  backend/tests/test_ratelimit.py
  backend/tests/test_sinks.py
  backend/tests/test_startup.py
  docs/ledger.md
  frontend/kotonoha_app/analysis_options.yaml
  frontend/kotonoha_app/android/app/build.gradle.kts
  frontend/kotonoha_app/android/app/proguard-rules.pro
Due: flutter

chore: ビルド設定・統合テストを整理（03/68）
  frontend/kotonoha_app/android/app/src/main/AndroidManifest.xml
  frontend/kotonoha_app/android/app/src/main/res/drawable-v21/launch_background.xml
  frontend/kotonoha_app/android/app/src/main/res/drawable/launch_background.xml
  frontend/kotonoha_app/fastlane/Fastfile
  frontend/kotonoha_app/integration_test/ai_conversion_e2e_test.dart
  frontend/kotonoha_app/integration_test/app_startup_test.dart
  frontend/kotonoha_app/integration_test/character_input_tts_test.dart
  frontend/kotonoha_app/integration_test/device_test/device_basic_test.dart
  frontend/kotonoha_app/integration_test/device_test/orientation_test.dart
  frontend/kotonoha_app/integration_test/device_test/tablet_layout_test.dart
Due: flutter

chore: 統合テストを整理（04/68）
  frontend/kotonoha_app/integration_test/device_test/tts_device_test.dart
  frontend/kotonoha_app/integration_test/helpers/helpers.dart
  frontend/kotonoha_app/integration_test/helpers/mock_api_server.dart
  frontend/kotonoha_app/integration_test/helpers/test_helpers.dart
  frontend/kotonoha_app/integration_test/large_emergency_buttons_test.dart
Due: none

chore: 統合テスト・ビルド設定ほかを整理（05/68）
  frontend/kotonoha_app/integration_test/preset_phrase_test.dart
  frontend/kotonoha_app/integration_test/test_driver.dart
  frontend/kotonoha_app/ios/Podfile
  frontend/kotonoha_app/ios/RunnerTests/RunnerTests.swift
  frontend/kotonoha_app/lib/app.dart
  frontend/kotonoha_app/lib/core/constants/app_colors.dart
  frontend/kotonoha_app/lib/core/constants/app_sizes.dart
  frontend/kotonoha_app/lib/core/persistence/persisted_box.dart
  frontend/kotonoha_app/lib/core/persistence/persistence_state.dart
  frontend/kotonoha_app/lib/core/persistence/persistence_state_provider.dart
  frontend/kotonoha_app/lib/core/persistence/write_failure_provider.dart
  frontend/kotonoha_app/lib/core/router/app_router.dart
Due: flutter

chore: coreのコメントを整理（06/68）
  frontend/kotonoha_app/lib/core/router/error_screen.dart
  frontend/kotonoha_app/lib/core/themes/dark_theme.dart
  frontend/kotonoha_app/lib/core/themes/high_contrast_theme.dart
  frontend/kotonoha_app/lib/core/themes/light_theme.dart
  frontend/kotonoha_app/lib/core/themes/theme_colors.dart
  frontend/kotonoha_app/lib/core/themes/theme_provider.dart
  frontend/kotonoha_app/lib/core/utils/contrast.dart
  frontend/kotonoha_app/lib/core/utils/error_handler.dart
  frontend/kotonoha_app/lib/core/utils/exceptions.dart
  frontend/kotonoha_app/lib/core/utils/hive_box_backup.dart
  frontend/kotonoha_app/lib/core/utils/hive_box_backup_io.dart
  frontend/kotonoha_app/lib/core/utils/hive_init.dart
Due: flutter

chore: coreのコメント・ai_conversionのコメントを整理（07/68）
  frontend/kotonoha_app/lib/core/utils/logger.dart
  frontend/kotonoha_app/lib/core/utils/validators.dart
  frontend/kotonoha_app/lib/core/widgets/app_shell.dart
  frontend/kotonoha_app/lib/core/widgets/error_dialog.dart
  frontend/kotonoha_app/lib/core/widgets/persistence_banner.dart
  frontend/kotonoha_app/lib/features/ai_conversion/data/api/ai_conversion_api_client.dart
  frontend/kotonoha_app/lib/features/ai_conversion/data/models/ai_conversion_request.dart
  frontend/kotonoha_app/lib/features/ai_conversion/data/models/ai_conversion_response.dart
  frontend/kotonoha_app/lib/features/ai_conversion/domain/exceptions/ai_conversion_exception.dart
  frontend/kotonoha_app/lib/features/ai_conversion/domain/models/politeness_level.dart
Due: flutter

chore: ai_conversionのコメント・app_stateのコメントほかを整理（08/68）
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_button.dart
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_loading.dart
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/ai_conversion_result_dialog.dart
  frontend/kotonoha_app/lib/features/ai_conversion/presentation/widgets/politeness_level_selector.dart
  frontend/kotonoha_app/lib/features/ai_conversion/providers/ai_conversion_provider.dart
  frontend/kotonoha_app/lib/features/ai_conversion/providers/ai_conversion_state.dart
  frontend/kotonoha_app/lib/features/app_state/providers/app_lifecycle_observer.dart
  frontend/kotonoha_app/lib/features/app_state/providers/app_session_provider.dart
  frontend/kotonoha_app/lib/features/character_board/domain/character_data.dart
  frontend/kotonoha_app/lib/features/character_board/domain/dakuten_converter.dart
Due: flutter

chore: character_boardのコメント・emergencyのコメントを整理（09/68）
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/character_board_widget.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/clear_all_button.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/clear_confirmation_dialog.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/delete_button.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/widgets/widgets.dart
  frontend/kotonoha_app/lib/features/character_board/providers/input_buffer_provider.dart
  frontend/kotonoha_app/lib/features/emergency/domain/models/emergency_state.dart
  frontend/kotonoha_app/lib/features/emergency/domain/services/emergency_audio_service.dart
  frontend/kotonoha_app/lib/features/emergency/emergency.dart
  frontend/kotonoha_app/lib/features/emergency/presentation/presentation.dart
Due: flutter

chore: emergencyのコメント・face_to_faceのコメントを整理（10/68）
  frontend/kotonoha_app/lib/features/emergency/presentation/providers/emergency_state_provider.dart
  frontend/kotonoha_app/lib/features/emergency/presentation/screens/emergency_alert_screen.dart
  frontend/kotonoha_app/lib/features/emergency/presentation/widgets/emergency_button_with_confirmation.dart
  frontend/kotonoha_app/lib/features/emergency/presentation/widgets/emergency_confirmation_dialog.dart
  frontend/kotonoha_app/lib/features/emergency/presentation/widgets/widgets.dart
  frontend/kotonoha_app/lib/features/face_to_face/domain/models/face_to_face_state.dart
  frontend/kotonoha_app/lib/features/face_to_face/presentation/screens/face_to_face_screen.dart
  frontend/kotonoha_app/lib/features/face_to_face/presentation/widgets/face_to_face_text_display.dart
  frontend/kotonoha_app/lib/features/face_to_face/presentation/widgets/face_to_face_toggle_button.dart
  frontend/kotonoha_app/lib/features/face_to_face/presentation/widgets/rotated_wrapper.dart
Due: flutter

chore: face_to_faceのコメント・favoriteのコメントほかを整理（11/68）
  frontend/kotonoha_app/lib/features/face_to_face/presentation/widgets/rotation_toggle_button.dart
  frontend/kotonoha_app/lib/features/face_to_face/providers/face_to_face_provider.dart
  frontend/kotonoha_app/lib/features/favorite/data/favorite_repository.dart
  frontend/kotonoha_app/lib/features/favorite/domain/models/favorite.dart
  frontend/kotonoha_app/lib/features/favorite/providers/favorite_provider.dart
  frontend/kotonoha_app/lib/features/favorites/presentation/constants/favorite_ui_constants.dart
  frontend/kotonoha_app/lib/features/favorites/presentation/favorites_screen.dart
  frontend/kotonoha_app/lib/features/favorites/presentation/widgets/empty_favorite_widget.dart
  frontend/kotonoha_app/lib/features/favorites/presentation/widgets/favorite_item_card.dart
  frontend/kotonoha_app/lib/features/help/presentation/screens/help_screen.dart
  frontend/kotonoha_app/lib/features/help/presentation/widgets/help_section_widget.dart
  frontend/kotonoha_app/lib/features/help/presentation/widgets/tutorial_overlay.dart
Due: flutter

chore: helpのコメント・historyのコメントほかを整理（12/68）
  frontend/kotonoha_app/lib/features/help/providers/tutorial_provider.dart
  frontend/kotonoha_app/lib/features/history/data/history_repository.dart
  frontend/kotonoha_app/lib/features/history/domain/models/history.dart
  frontend/kotonoha_app/lib/features/history/domain/models/history_type.dart
  frontend/kotonoha_app/lib/features/history/presentation/constants/history_ui_constants.dart
  frontend/kotonoha_app/lib/features/history/presentation/history_screen.dart
  frontend/kotonoha_app/lib/features/history/presentation/widgets/empty_history_widget.dart
  frontend/kotonoha_app/lib/features/history/presentation/widgets/history_item_card.dart
  frontend/kotonoha_app/lib/features/history/providers/history_provider.dart
  frontend/kotonoha_app/lib/features/input_candidates/domain/input_candidate_scorer.dart
  frontend/kotonoha_app/lib/features/input_candidates/domain/models/input_candidate.dart
  frontend/kotonoha_app/lib/features/input_candidates/presentation/widgets/input_candidate_chips.dart
Due: flutter

chore: input_candidatesのコメント・networkのコメントほかを整理（13/68）
  frontend/kotonoha_app/lib/features/input_candidates/providers/input_candidates_provider.dart
  frontend/kotonoha_app/lib/features/network/domain/models/network_state.dart
  frontend/kotonoha_app/lib/features/network/domain/services/connectivity_service.dart
  frontend/kotonoha_app/lib/features/network/presentation/widgets/network_aware_scaffold.dart
  frontend/kotonoha_app/lib/features/network/presentation/widgets/offline_banner.dart
  frontend/kotonoha_app/lib/features/network/presentation/widgets/online_recovery_notification.dart
  frontend/kotonoha_app/lib/features/network/providers/network_provider.dart
  frontend/kotonoha_app/lib/features/preset_phrase/data/default_phrases.dart
  frontend/kotonoha_app/lib/features/preset_phrase/data/preset_phrase_repository.dart
  frontend/kotonoha_app/lib/features/preset_phrase/domain/phrase_constants.dart
  frontend/kotonoha_app/lib/features/preset_phrase/domain/preset_phrase_validator.dart
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/preset_phrase_screen.dart
Due: flutter

chore: preset_phraseのコメント・quick_responseのコメントを整理（14/68）
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/widgets/phrase_add_dialog.dart
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/widgets/phrase_category_section.dart
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/widgets/phrase_delete_dialog.dart
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/widgets/phrase_edit_dialog.dart
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/widgets/phrase_empty_state.dart
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/widgets/phrase_form_content.dart
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/widgets/phrase_list_item.dart
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/widgets/phrase_list_widget.dart
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/widgets/widgets.dart
  frontend/kotonoha_app/lib/features/preset_phrase/providers/preset_phrase_notifier.dart
  frontend/kotonoha_app/lib/features/quick_response/domain/domain.dart
  frontend/kotonoha_app/lib/features/quick_response/domain/quick_response_constants.dart
Due: flutter

chore: quick_responseのコメント・settingsのコメントを整理（15/68）
  frontend/kotonoha_app/lib/features/quick_response/domain/quick_response_type.dart
  frontend/kotonoha_app/lib/features/quick_response/presentation/mixins/debounce_mixin.dart
  frontend/kotonoha_app/lib/features/quick_response/presentation/mixins/mixins.dart
  frontend/kotonoha_app/lib/features/quick_response/presentation/presentation.dart
  frontend/kotonoha_app/lib/features/quick_response/presentation/widgets/quick_response_button.dart
  frontend/kotonoha_app/lib/features/quick_response/presentation/widgets/quick_response_buttons.dart
  frontend/kotonoha_app/lib/features/quick_response/presentation/widgets/widgets.dart
  frontend/kotonoha_app/lib/features/quick_response/quick_response.dart
  frontend/kotonoha_app/lib/features/settings/models/app_settings.dart
  frontend/kotonoha_app/lib/features/settings/models/app_theme.dart
  frontend/kotonoha_app/lib/features/settings/models/font_size.dart
  frontend/kotonoha_app/lib/features/settings/presentation/settings_screen.dart
Due: flutter

chore: settingsのコメントを整理（16/68）
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/ai_politeness_settings_widget.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/font_size_settings_widget.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/settings_section_widget.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/simple_mode_settings_widget.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/theme_settings_widget.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/tts_speed_settings_widget.dart
  frontend/kotonoha_app/lib/features/settings/providers/settings_provider.dart
Due: flutter

chore: simple_modeのコメント・status_buttonsのコメントほかを整理（17/68）
  frontend/kotonoha_app/lib/features/simple_mode/domain/simple_mode_constants.dart
  frontend/kotonoha_app/lib/features/simple_mode/presentation/simple_mode_view.dart
  frontend/kotonoha_app/lib/features/status_buttons/domain/domain.dart
  frontend/kotonoha_app/lib/features/status_buttons/domain/status_button_constants.dart
  frontend/kotonoha_app/lib/features/status_buttons/domain/status_button_type.dart
  frontend/kotonoha_app/lib/features/status_buttons/presentation/presentation.dart
  frontend/kotonoha_app/lib/features/status_buttons/presentation/widgets/status_button.dart
  frontend/kotonoha_app/lib/features/status_buttons/presentation/widgets/status_buttons.dart
  frontend/kotonoha_app/lib/features/status_buttons/presentation/widgets/widgets.dart
  frontend/kotonoha_app/lib/features/status_buttons/status_buttons.dart
  frontend/kotonoha_app/lib/features/tts/domain/models/tts_speed.dart
  frontend/kotonoha_app/lib/features/tts/domain/models/tts_state.dart
Due: flutter

chore: ttsのコメントを整理（18/68）
  frontend/kotonoha_app/lib/features/tts/domain/services/tts_service.dart
  frontend/kotonoha_app/lib/features/tts/domain/services/volume_service.dart
  frontend/kotonoha_app/lib/features/tts/presentation/widgets/tts_button.dart
  frontend/kotonoha_app/lib/features/tts/presentation/widgets/volume_warning_widget.dart
Due: flutter

chore: ttsのコメント・main.dartのコメントほかを整理（19/68）
  frontend/kotonoha_app/lib/features/tts/providers/tts_provider.dart
  frontend/kotonoha_app/lib/features/tts/providers/volume_warning_provider.dart
  frontend/kotonoha_app/lib/main.dart
  frontend/kotonoha_app/lib/shared/models/favorite_item.dart
  frontend/kotonoha_app/lib/shared/models/favorite_item_adapter.dart
  frontend/kotonoha_app/lib/shared/models/history_item.dart
  frontend/kotonoha_app/lib/shared/models/history_item_adapter.dart
  frontend/kotonoha_app/lib/shared/models/preset_phrase.dart
  frontend/kotonoha_app/lib/shared/models/preset_phrase_adapter.dart
  frontend/kotonoha_app/lib/shared/providers/app_providers.dart
Due: flutter

chore: sharedのコメント・ビルド設定ほかを整理（20/68）
  frontend/kotonoha_app/lib/shared/providers/repository_providers.dart
  frontend/kotonoha_app/lib/shared/widgets/emergency_button.dart
  frontend/kotonoha_app/lib/shared/widgets/large_button.dart
  frontend/kotonoha_app/lib/shared/widgets/send_to_input_button.dart
  frontend/kotonoha_app/lib/shared/widgets/text_input_field.dart
  frontend/kotonoha_app/lib/shared/widgets/undo_snack_bar.dart
  frontend/kotonoha_app/lib/shared/widgets/widgets.dart
  frontend/kotonoha_app/pubspec.yaml
  frontend/kotonoha_app/scripts/run_device_tests.sh
  frontend/kotonoha_app/test/accessibility/ai_conversion_result_dialog_contrast_test.dart
  frontend/kotonoha_app/test/accessibility/button_foreground_contrast_test.dart
  frontend/kotonoha_app/test/accessibility/emergency_contrast_test.dart
Due: flutter

chore: accessibilityのテスト・coreのテストを整理（21/68）
  frontend/kotonoha_app/test/accessibility/error_dialog_contrast_test.dart
  frontend/kotonoha_app/test/accessibility/offline_dialog_contrast_test.dart
  frontend/kotonoha_app/test/accessibility/preset_phrase_contrast_test.dart
  frontend/kotonoha_app/test/accessibility/quick_response_button_contrast_test.dart
  frontend/kotonoha_app/test/accessibility/status_button_contrast_test.dart
  frontend/kotonoha_app/test/accessibility/theme_error_color_contrast_test.dart
  frontend/kotonoha_app/test/accessibility/warning_widget_contrast_test.dart
  frontend/kotonoha_app/test/core/persistence/hive_schema_allowlist_test.dart
  frontend/kotonoha_app/test/core/persistence/persistence_failure_notification_test.dart
  frontend/kotonoha_app/test/core/persistence/persistence_state_provider_test.dart
  frontend/kotonoha_app/test/core/persistence/persistence_state_test.dart
  frontend/kotonoha_app/test/core/persistence/write_failure_notification_test.dart
Due: none

chore: coreのテストを整理（22/68）
  frontend/kotonoha_app/test/core/router/app_router_test.dart
  frontend/kotonoha_app/test/core/router/error_screen_test.dart
  frontend/kotonoha_app/test/core/themes/dark_theme_test.dart
  frontend/kotonoha_app/test/core/themes/high_contrast_theme_test.dart
Due: none

Path conditions:
  flutter: any of: frontend/, but not: frontend/kotonoha_app/lib/**/*.g.dart, frontend/kotonoha_app/lib/**/*.freezed.dart, frontend/kotonoha_app/lib/gen/**, frontend/kotonoha_app/test/**, frontend/kotonoha_app/integration_test/**, backend/tests/**, backend/alembic/**, infra/**
  python: any of: backend/, but not: frontend/kotonoha_app/lib/**/*.g.dart, frontend/kotonoha_app/lib/**/*.freezed.dart, frontend/kotonoha_app/lib/gen/**, frontend/kotonoha_app/test/**, frontend/kotonoha_app/integration_test/**, backend/tests/**, backend/alembic/**, infra/**
