Repository mozuq-lab/kotonoha: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, python

CI/CDワークフロー修正 (TASK-0094)
  .github/workflows/flutter.yml
  .github/workflows/python.yml
  backend/Dockerfile
Due: python

Dartコードフォーマット修正
  frontend/kotonoha_app/integration_test/ai_conversion_e2e_test.dart
  frontend/kotonoha_app/integration_test/performance_profiling_e2e_test.dart
  frontend/kotonoha_app/lib/features/preset_phrase/presentation/preset_phrase_screen.dart
  frontend/kotonoha_app/test/core/router/app_router_test.dart
  frontend/kotonoha_app/test/features/preset_phrase/data/preset_phrase_repository_cache_test.dart
  frontend/kotonoha_app/test/features/tts/domain/services/tts_service_optimization_test.dart
  frontend/kotonoha_app/test/widgets/character_board_optimization_test.dart
Due: flutter

テストコード警告修正
  frontend/kotonoha_app/test/integration/performance_optimization_test.dart
Due: none

パフォーマンステストのCI環境向け調整
  frontend/kotonoha_app/test/widgets/character_board_optimization_test.dart
Due: none

Fix Android R8 build error for Play Core missing classes
  frontend/kotonoha_app/android/app/proguard-rules.pro
Due: flutter

Fix Android APK build by adding flavor option
  .github/workflows/flutter.yml
Due: none

Remove deprecated --web-renderer option for Flutter 3.38
  .github/workflows/flutter.yml
Due: none

Fix Flutter CI Android build error (#24)
  .github/workflows/flutter.yml
Due: none

iOS/Android/タブレット向けデバイステスト実装を追加 (TASK-0095)
  docs/implements/kotonoha/TASK-0095/kotonoha-requirements.md
  docs/implements/kotonoha/TASK-0095/kotonoha-testcases.md
  docs/implements/kotonoha/TASK-0095/test-report-template.md
  docs/tasks/kotonoha-overview.md
  docs/tasks/kotonoha-phase5.md
  frontend/kotonoha_app/integration_test/device_test/README.md
  frontend/kotonoha_app/integration_test/device_test/device_basic_test.dart
  frontend/kotonoha_app/integration_test/device_test/orientation_test.dart
  frontend/kotonoha_app/integration_test/device_test/tablet_layout_test.dart
  frontend/kotonoha_app/integration_test/device_test/tts_device_test.dart
  frontend/kotonoha_app/scripts/run_device_tests.sh
Due: flutter

カバレッジ確認・テスト補完完了 (TASK-0096)
  backend/requirements.txt
  backend/tests/conftest.py
  backend/tests/core/__init__.py
  backend/tests/core/test_security.py
  backend/tests/db/test_base.py
  backend/tests/db/test_session.py
  backend/tests/test_ai_client.py
  backend/tests/utils/__init__.py
  backend/tests/utils/test_exceptions.py
  docker-compose.yml
  docker/postgres/init.sql
  docs/implements/kotonoha/TASK-0096/coverage-improvement-plan.md
  docs/implements/kotonoha/TASK-0096/coverage-report-final.md
  docs/implements/kotonoha/TASK-0096/coverage-report.md
  docs/implements/kotonoha/TASK-0096/kotonoha-requirements.md
  docs/implements/kotonoha/TASK-0096/kotonoha-testcases.md
  docs/tasks/kotonoha-overview.md
  docs/tasks/kotonoha-phase5.md
Due: python

セキュリティ・プライバシー最終確認テストを追加 (TASK-0097)
  backend/tests/test_security/__init__.py
  backend/tests/test_security/test_env_variables.py
  docs/implements/kotonoha/TASK-0097/implementation-report.md
  docs/implements/kotonoha/TASK-0097/kotonoha-requirements.md
  docs/implements/kotonoha/TASK-0097/kotonoha-testcases.md
  docs/tasks/kotonoha-phase5.md
  frontend/kotonoha_app/.gitignore
  frontend/kotonoha_app/test/features/security/data_deletion_test.dart
  frontend/kotonoha_app/test/features/security/env_variables_test.dart
  frontend/kotonoha_app/test/features/security/https_test.dart
  frontend/kotonoha_app/test/features/security/local_storage_test.dart
  frontend/kotonoha_app/test/features/security/privacy_consent_test.dart
Due: flutter

ユーザードキュメント作成 (TASK-0098)
  docs/implements/kotonoha/TASK-0098/setup-report.md
  docs/implements/kotonoha/TASK-0098/verify-report.md
  docs/tasks/kotonoha-overview.md
  docs/tasks/kotonoha-phase5.md
  docs/user-guide/android-screen-pinning.md
  docs/user-guide/faq.md
  docs/user-guide/index.md
  docs/user-guide/ios-guided-access.md
  docs/user-guide/troubleshooting.md
Due: none

App Store/Google Play申請準備 (TASK-0099)
  docs/implements/kotonoha/TASK-0099/setup-report.md
  docs/implements/kotonoha/TASK-0099/verify-report.md
  docs/privacy-policy.md
  docs/store-assets-guide.md
  docs/support.md
  docs/tasks/kotonoha-phase5.md
  frontend/kotonoha_app/android/fastlane/Appfile
  frontend/kotonoha_app/android/fastlane/metadata/android/en-US/full_description.txt
  frontend/kotonoha_app/android/fastlane/metadata/android/en-US/short_description.txt
  frontend/kotonoha_app/android/fastlane/metadata/android/en-US/title.txt
  frontend/kotonoha_app/android/fastlane/metadata/android/ja-JP/full_description.txt
  frontend/kotonoha_app/android/fastlane/metadata/android/ja-JP/short_description.txt
  frontend/kotonoha_app/android/fastlane/metadata/android/ja-JP/title.txt
  frontend/kotonoha_app/fastlane/Appfile
  frontend/kotonoha_app/fastlane/Fastfile
  frontend/kotonoha_app/fastlane/metadata/en-US/description.txt
  frontend/kotonoha_app/fastlane/metadata/en-US/keywords.txt
  frontend/kotonoha_app/fastlane/metadata/en-US/name.txt
  frontend/kotonoha_app/fastlane/metadata/en-US/privacy_url.txt
  frontend/kotonoha_app/fastlane/metadata/en-US/promotional_text.txt
  frontend/kotonoha_app/fastlane/metadata/en-US/release_notes.txt
  frontend/kotonoha_app/fastlane/metadata/en-US/subtitle.txt
  frontend/kotonoha_app/fastlane/metadata/en-US/support_url.txt
  frontend/kotonoha_app/fastlane/metadata/ja-JP/description.txt
  frontend/kotonoha_app/fastlane/metadata/ja-JP/keywords.txt
  frontend/kotonoha_app/fastlane/metadata/ja-JP/name.txt
  frontend/kotonoha_app/fastlane/metadata/ja-JP/privacy_url.txt
  frontend/kotonoha_app/fastlane/metadata/ja-JP/promotional_text.txt
  frontend/kotonoha_app/fastlane/metadata/ja-JP/release_notes.txt
  frontend/kotonoha_app/fastlane/metadata/ja-JP/subtitle.txt
  frontend/kotonoha_app/fastlane/metadata/ja-JP/support_url.txt
  frontend/kotonoha_app/fastlane/metadata/review_information/notes.txt
  frontend/kotonoha_app/ios/Runner/Info.plist
Due: flutter

リリース最終確認・チェックリスト完了 (TASK-0100)
  docs/implements/kotonoha/TASK-0100/release-checklist.md
  docs/implements/kotonoha/TASK-0100/setup-report.md
  docs/implements/kotonoha/TASK-0100/verify-report.md
  docs/tasks/kotonoha-overview.md
  docs/tasks/kotonoha-phase5.md
  frontend/kotonoha_app/README.md
Due: flutter

Fix Ruff lint errors in backend tests
  backend/tests/core/test_security.py
  backend/tests/db/test_base.py
  backend/tests/test_security/test_env_variables.py
Due: none

Improve pre-commit configuration
  .pre-commit-config.yaml
  backend/pyproject.toml
Due: python

Apply pre-commit fixes and update configuration
  .pre-commit-config.yaml
  backend/alembic/README
  backend/alembic/versions/ac3a7c362e68_create_ai_conversion_history_table_with_.py
  backend/app/core/security.py
  backend/tests/db/test_base.py
  backend/tests/db/test_session.py
  backend/tests/test_security/test_env_variables.py
Due: python

Add Flutter/Dart pre-commit hooks
  .pre-commit-config.yaml
Due: none

Riverpod Notifierパターンへの移行
  frontend/kotonoha_app/integration_test/ai_conversion_e2e_test.dart
  frontend/kotonoha_app/integration_test/performance_profiling_e2e_test.dart
  frontend/kotonoha_app/lib/features/ai_conversion/providers/ai_conversion_provider.dart
  frontend/kotonoha_app/lib/features/app_state/providers/app_session_provider.dart
  frontend/kotonoha_app/lib/features/character_board/providers/input_buffer_provider.dart
  frontend/kotonoha_app/lib/features/emergency/presentation/providers/emergency_state_provider.dart
  frontend/kotonoha_app/lib/features/network/providers/network_provider.dart
  frontend/kotonoha_app/pubspec.lock
  frontend/kotonoha_app/pubspec.yaml
  frontend/kotonoha_app/test/features/ai_conversion/providers/ai_conversion_provider_test.dart
  frontend/kotonoha_app/test/features/emergency/presentation/providers/emergency_state_provider_test.dart
Due: flutter

定型文お気に入りとお気に入り画面の連動機能を実装 (TDD-FAVORITE-SYNC)
  docs/implements/kotonoha/TDD-FAVORITE-SYNC/favorite-sync-green-phase.md
  docs/implements/kotonoha/TDD-FAVORITE-SYNC/favorite-sync-memo.md
  docs/implements/kotonoha/TDD-FAVORITE-SYNC/favorite-sync-red-phase.md
  docs/implements/kotonoha/TDD-FAVORITE-SYNC/favorite-sync-refactor-phase.md
  docs/implements/kotonoha/TDD-FAVORITE-SYNC/favorite-sync-requirements.md
  docs/implements/kotonoha/TDD-FAVORITE-SYNC/favorite-sync-testcases.md
  docs/implements/kotonoha/TDD-FAVORITE-SYNC/favorite-sync-verify-complete.md
  frontend/kotonoha_app/lib/features/favorite/domain/models/favorite.dart
  frontend/kotonoha_app/lib/features/favorite/providers/favorite_provider.dart
  frontend/kotonoha_app/lib/features/preset_phrase/providers/preset_phrase_notifier.dart
  frontend/kotonoha_app/test/features/favorite_sync/favorite_sync_test.dart
Due: flutter

iOS CocoaPods設定を追加
  frontend/kotonoha_app/ios/Podfile.lock
  frontend/kotonoha_app/ios/Runner.xcodeproj/project.pbxproj
  frontend/kotonoha_app/ios/Runner.xcworkspace/contents.xcworkspacedata
Due: flutter

TTS読み上げ速度に「とても遅い」オプションを追加 (TDD-TTS-SLOWER-SPEED)
  docs/implements/kotonoha/TDD-TTS-SLOWER-SPEED/tts-slower-speed-memo.md
  docs/implements/kotonoha/TDD-TTS-SLOWER-SPEED/tts-slower-speed-refactor-phase.md
  docs/implements/kotonoha/TDD-TTS-SLOWER-SPEED/tts-slower-speed-requirements.md
  docs/implements/kotonoha/TDD-TTS-SLOWER-SPEED/tts-slower-speed-testcases.md
  frontend/kotonoha_app/lib/features/settings/models/app_settings.dart
  frontend/kotonoha_app/lib/features/settings/presentation/widgets/tts_speed_settings_widget.dart
  frontend/kotonoha_app/lib/features/tts/domain/models/tts_speed.dart
  frontend/kotonoha_app/test/features/settings/models/app_settings_test.dart
  frontend/kotonoha_app/test/features/settings/presentation/widgets/tts_speed_settings_widget_test.dart
  frontend/kotonoha_app/test/features/tts/domain/models/tts_speed_test.dart
  frontend/kotonoha_app/test/features/tts/domain/services/tts_service_test.dart
  frontend/kotonoha_app/test/integration/tts_speed_integration_test.dart
Due: flutter

Fix VolumeController API for v3.x compatibility
  frontend/kotonoha_app/lib/features/tts/domain/services/volume_service.dart
Due: flutter

Claude Code・Serena設定とオンボーディングメモリを追加
  .claude/settings.json
  .serena/.gitignore
  .serena/memories/code_style_and_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
Due: none

Claude Code・Serena設定とオンボーディングメモリを追加 (#43)
  .claude/settings.json
  .serena/.gitignore
  .serena/memories/code_style_and_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
Due: none

bcrypt 5.0対応: passlibを直接bcrypt呼び出しに置換
  backend/app/core/security.py
  backend/requirements.txt
Due: python

fix: Riverpod 2.x → 3.x テストおよびプロダクションコードの移行修正
  frontend/kotonoha_app/integration_test/ai_conversion_e2e_test.dart
  frontend/kotonoha_app/integration_test/helpers/test_helpers.dart
  frontend/kotonoha_app/integration_test/performance_profiling_e2e_test.dart
  frontend/kotonoha_app/lib/features/character_board/presentation/home_screen.dart
  frontend/kotonoha_app/lib/features/face_to_face/providers/face_to_face_provider.dart
  frontend/kotonoha_app/lib/features/favorite/providers/favorite_provider.dart
  frontend/kotonoha_app/lib/features/help/providers/tutorial_provider.dart
  frontend/kotonoha_app/lib/features/history/providers/history_provider.dart
  frontend/kotonoha_app/lib/features/preset_phrase/providers/preset_phrase_notifier.dart
  frontend/kotonoha_app/lib/features/settings/providers/settings_provider.dart
  frontend/kotonoha_app/lib/features/tts/providers/tts_provider.dart
  frontend/kotonoha_app/lib/features/tts/providers/volume_warning_provider.dart
  frontend/kotonoha_app/pubspec.lock
  frontend/kotonoha_app/test/features/favorites/presentation/favorites_reorder_test.dart
  frontend/kotonoha_app/test/features/favorites/presentation/favorites_screen_test.dart
  frontend/kotonoha_app/test/features/history/presentation/history_actions_test.dart
  frontend/kotonoha_app/test/features/history/presentation/history_screen_favorite_test.dart
  frontend/kotonoha_app/test/features/history/presentation/history_screen_simple_test.dart
  frontend/kotonoha_app/test/features/history/presentation/history_screen_test.dart
  frontend/kotonoha_app/test/features/history/presentation/test_helpers.dart
  frontend/kotonoha_app/test/features/tts/domain/services/tts_service_optimization_test.dart
  frontend/kotonoha_app/test/features/tts/presentation/widgets/tts_button_test.dart
  frontend/kotonoha_app/test/features/tts/providers/tts_provider_test.dart
  frontend/kotonoha_app/test/integration/e2e_phase3_integration_test.dart
  frontend/kotonoha_app/test/integration/phase4/phase4_integration_test.dart
  frontend/kotonoha_app/test/integration/tts_speed_integration_test.dart
  frontend/kotonoha_app/test/integration/tts_stop_integration_test.dart
Due: flutter

style: black 26.1.0でテストファイルをフォーマット
  backend/tests/test_migration_execution.py
Due: none

Add device API key auth and harden rate limiting for AI endpoints
  backend/.env.example
  backend/app/api/deps.py
  backend/app/api/v1/endpoints/ai.py
  backend/app/core/config.py
  backend/app/core/rate_limit.py
  backend/app/core/security.py
  backend/tests/test_api/test_api_key_auth.py
  backend/tests/test_api/test_rate_limit.py
Due: python

Centralize transaction commit at request boundary in CRUD
  backend/app/crud/crud_ai_conversion.py
Due: python

Wire history/favorite/preset persistence to Hive
  frontend/kotonoha_app/lib/features/favorite/data/favorite_repository.dart
  frontend/kotonoha_app/lib/features/favorite/providers/favorite_provider.dart
  frontend/kotonoha_app/lib/features/history/data/history_repository.dart
  frontend/kotonoha_app/lib/features/history/providers/history_provider.dart
  frontend/kotonoha_app/lib/features/preset_phrase/data/preset_phrase_repository.dart
  frontend/kotonoha_app/lib/features/preset_phrase/providers/preset_phrase_notifier.dart
  frontend/kotonoha_app/lib/shared/models/favorite_item.dart
  frontend/kotonoha_app/lib/shared/models/favorite_item_adapter.dart
  frontend/kotonoha_app/lib/shared/providers/repository_providers.dart
  frontend/kotonoha_app/test/features/data_persistence/persistence_wiring_test.dart
Due: flutter

Wire network monitoring and emergency feature across all screens
  frontend/kotonoha_app/lib/core/router/app_router.dart
  frontend/kotonoha_app/lib/core/widgets/app_shell.dart
  frontend/kotonoha_app/test/core/router/app_router_test.dart
  frontend/kotonoha_app/test/core/widgets/app_shell_network_test.dart
  frontend/kotonoha_app/test/features/emergency/emergency_shell_wiring_test.dart
Due: flutter

Make loadPhrases reload from Hive for consistency
  frontend/kotonoha_app/lib/features/preset_phrase/providers/preset_phrase_notifier.dart
  frontend/kotonoha_app/test/features/data_persistence/persistence_wiring_test.dart
Due: flutter

セキュリティ: AIエンドポイントに端末APIキー認証とレート制限の厳格化 (#71)
  backend/.env.example
  backend/app/api/deps.py
  backend/app/api/v1/endpoints/ai.py
  backend/app/core/config.py
  backend/app/core/rate_limit.py
  backend/app/core/security.py
  backend/tests/test_api/test_api_key_auth.py
  backend/tests/test_api/test_rate_limit.py
Due: python

security: AIエンドポイントに端末APIキー認証とレート制限の厳格化 (#71)
  backend/.env.example
  backend/app/api/deps.py
  backend/app/api/v1/endpoints/ai.py
  backend/app/core/config.py
  backend/app/core/rate_limit.py
  backend/app/core/security.py
  backend/tests/test_api/test_api_key_auth.py
  backend/tests/test_api/test_rate_limit.py
Due: python

修正: AI変換ログCRUDの二重コミットを解消しトランザクション境界を一元化 (#72)
  backend/app/crud/crud_ai_conversion.py
Due: python

fix: AI変換ログCRUDの二重コミットを解消しトランザクション境界を一元化 (#72)
  backend/app/crud/crud_ai_conversion.py
Due: python

Apply dart format to new test files (CI Analyze & Lint)
  frontend/kotonoha_app/test/core/widgets/app_shell_network_test.dart
  frontend/kotonoha_app/test/features/emergency/emergency_shell_wiring_test.dart
Due: none

Apply dart format to persistence wiring test (CI Analyze & Lint)
  frontend/kotonoha_app/test/features/data_persistence/persistence_wiring_test.dart
Due: none

Path conditions:
  flutter: any of: frontend/, but not: frontend/kotonoha_app/lib/**/*.g.dart, frontend/kotonoha_app/lib/**/*.freezed.dart, frontend/kotonoha_app/lib/gen/**, frontend/kotonoha_app/test/**, frontend/kotonoha_app/integration_test/**, backend/tests/**, backend/alembic/**, infra/**
  python: any of: backend/, but not: frontend/kotonoha_app/lib/**/*.g.dart, frontend/kotonoha_app/lib/**/*.freezed.dart, frontend/kotonoha_app/lib/gen/**, frontend/kotonoha_app/test/**, frontend/kotonoha_app/integration_test/**, backend/tests/**, backend/alembic/**, infra/**
